.artistAlbumMain
{
	overflow: hidden;
}

.stickyHeader {
	height: 50px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	font-size: 12px;
	background-color: transparent;
}

.stickyHeader > div {
	line-height: 50px;
	float: left;
	color: #515151;
	font-weight: 600;
}

.stickyHeader > div:first-child {
	width: 40px;
	text-align: center;
}

.stickyHeader > div:nth-child(2) {
	width: 52px;
	float: right;
	text-align: center;
}

.albumListingContent {
	position: absolute;
	top: 100px; 
	left: 190px;
	bottom: 0;
	right: 0;
}

.noCollectionActions {
	top: 100px;
}

.collectionActions
{
	width: 100%;
	height: 40px;
	background-color: white;
	line-height: 40px;
	text-align: right;
	box-sizing: border-box;
	padding: 0 15px;
}

.albumListing {
	position: absolute;
	top: 0px;
	bottom: 0;
	left: 0;
	right: 0;
}

.albumListingSidebar {
	-webkit-select-user: none;
	cursor: pointer;
	position: absolute;
	left: 0;
	top: 100px;
	bottom: 0;
	width: 190px;
	background-color: transparent;
	z-index: 1;	
}

.albumListingSidebar > img {
	width: 163px;
	height: 163px;
	padding-top: 15px;
	padding-left: 13.5px;
}

.albumListingSidebar-title {
	list-style: none;
	top: 0;
	font-size: 1.2em;
	font-weight: 700;
	padding: 4px 15px 4px 15px;
}

.albumListingSidebar-item {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding: 12px 13.5px 12px 13.5px;
	position: relative;
	font-weight: 400;
}

.albumListingSidebar-item:hover {
	background-color: #fff;
}

.albumRelatedContentLinks > li:nth-child(2) {
	padding: 0px 14.5px;
	position: inherit;
}


.albumRelatedContentLinks > li:nth-child(2):hover {
background-color: #e8e8e8;
}

.albumRecordLabelInfo {
	color: #757575;
	font-size: 11px;
	position: absolute;
	bottom: 13.5px;
	left: 13.5px;
	right: 13.5px;
	list-style: none;
}

.albumRecordLabelInfo > li:first-child {
	padding-bottom: 5px;
}

.albumTableMiddleColumn {
	position:absolute;
	left: 50px;
	right: 52px;
	font-weight: 500;

}

.albumTableMiddleColumn > div
{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.albumTableMiddleColumn > div:first-child {
	font-size: 13px;
	float: left;
	width: 65%;
}

.albumTableMiddleColumn > div:last-child {
	float: left;
	width: 35%;
}

.trackList {
	position: absolute;
	top: 50px;
	left: 0;
	right: 0;
	bottom: 0;
	font-size: 12px;
	background-color: #fff;
	color: #757575;
	overflow: auto;
}

.trackList > div {
	height: 44px;
	padding: 0;
	list-style: none;
	width: 100%;
	clear: both;
}

.trackList > div > div {
	box-sizing: border-box;
	line-height: 43px;
	float: left;
}

.trackList > div > div:first-child {
	float: left;
	width: 50px;
	height: 44px;
	color: #959595;
	text-align: center;
}

.trackList .nowPlaying
{
	background-color: #e8e8e8 !important;
}

.nowPlaying > div:first-child > div
{
	margin-top: 17px;
	margin-left: 16px;
	opacity: .6;
	background: url('../img/sprite.png') no-repeat -30px -172px;
	background-size: 210px 290px;
	width: 13px;
	height: 15px;
}

.trackList > div > div:last-child {
	float: right;
	width: 52px;
	text-align: center;
}
.trackList > div:nth-child(even) {
	background-color: #fff;
}

.trackList > div:nth-child(odd) {
	background-color: #fafafa;
}

@media(max-width: 480px)
{

	.main-albumArt {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		display: block;
		position: relative;
		width: 100%;
	}

	.main-albumArt:before {
		content: '';
		padding-top: 100%;
		display: block;
	}

	.main-albumArt > img
	{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: auto;
		-webkit-transition: opacity .2s ease-out;
	}

	.affixed-top {
		position: fixed;
		top: 0;
	}

	.main-scrollingContent {
		position: absolute;
		top: 100px;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
		box-sizing: border-box;
	}

	.mainContent, .searchBar {
		position: relative;
		/*top: -50px;*/
	}
	.searchBar {
		top: 0;
		z-index: 10000;
	}
	
	.albumListingMain > .mainContent {
		padding-top: 320px;
	}

	.trackList {
		top: 0;
		left: 0;
		right: auto;
		bottom: auto;
		height: auto;
		overflow: visible;
		position: relative;
	}

	.albumListingSidebar {
		display: none;
	}

	.stickyHeader {
		display: none;
	}

	.albumListingContent {
		left: 0;
	}

	.trackList > li {
		height: 50px;
		border-top: 1px solid #cecece;
	}

	.trackList > li:last-child
	{
		border-bottom: 1px solid #cecece;
	}

	.trackList > li > div {
		line-height: 44px;
	}

	.trackList > li > div:last-child
	{
		border-left: 1px solid #cecece;
	}

	.albumTableMiddleColumn
	{
		border-left: 1px solid #cecece;
		padding: 0 8px 0 8px;
		height: 44px;
	}

	.albumTableMiddleColumn > div
	{
		line-height: 13px;
	}

	.albumTableMiddleColumn > div:first-child {
		padding: 9px 0 2px 0;
		box-sizing: border-box;
		font-weight: 600;
		width: 100%;
	}

	.albumTableMiddleColumn > div:last-child {
		font-size: 10px;
		box-sizing: border-box;
		width: 100%;
	}	

	.nowPlaying
	{
		color: #1f1f1f;
	}

	.nowPlaying > div:first-child > div
	{
		margin-top: 20px;
	}

	.HeaderBar, .searchBar {
		/*background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));*/
		background-color: rgba(255, 255, 255, .85);
	}
}
