@import url(http://fonts.googleapis.com/css?family=Asap);

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: "Helvetica Neue";
}

.itemWrapper {
	position: relative;
	padding: 0 0 15px 15px;
	box-sizing: border-box;
	float: left;
	width: 16.666%;
	background-repeat: no-repeat;
}

.imgWrapper {
	position: relative;
}

.imgText {
	box-sizing: border-box;
	z-index: 3;
	font-size: .8em;
	position: absolute;
	top: 0px;
	left: 15px;
	right: 0;
	bottom: 18px;
	background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, .7) 0%, rgba(0, 0, 0, .10) 50%);
	background: -moz-linear-gradient(bottom, rgba(0, 0, 0, .7) 0%, rgba(0, 0, 0, .10) 50%);
	padding: 0 .5em .5em .5em;
}

.imgText > p {
	font-size: 1.1em;
	position: absolute;
	left: 5px;
	right: 5px;
	bottom: 5px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #fff;
	text-shadow: 0 0 4px rgba(0, 0, 0, .9);
	line-height: 1.1em;
	margin: 0;
}

.overlay {
	width: 100%;
	z-index: 2;
	position: relative;
	top: -100%;
	/*-webkit-backface-visibility: hidden;*/
/*	-webkit-transform: translate3d(0,0,0);
	-webkit-transform-style: preserve-3d;*/
	-webkit-transition: opacity .5s ease-out;
	-moz-transition: opacity .5s ease-out;

}

.art {
	width: 100%;
	position: absolute;
	top: 0;
	z-index: 1;
}

.backspace-visibility {
	-webkit-transform: translate3d(0,0,0);
	/*-webkit-backface-visibility: hidden;*/
}

.overlay > img {
}

.mainContentContainer {
	padding: 15px 15px 0 0;
	position: relative;
	width: 100%;
	box-sizing: border-box;
}

@media (min-width: 1400px) {
	.itemWrapper {
		width: 14.285%;
	}
}

@media (max-width: 1200px) {
	.itemWrapper {
		width: 16.66667%;
	}
}

@media (max-width: 1000px) {
	.itemWrapper {
		width: 20%;
	}
}

@media (max-width: 800px) {
	.itemWrapper {
		width: 25%;
	}
}
@media (max-width: 600px) {
	.itemWrapper {
		width: 33.3%;
	}
}
@media (max-width: 400px) {
	.itemWrapper {
		width: 50%;
	}
}
