html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.artistsMain {
	padding: 15px 0 0 15px;
	background-color: #e8e8e8;
}

.artistsMain > img {
	display: none;
}

.itemWrapper {
	position: relative;
	box-sizing: border-box;
	float: left;
	width: 16.666%;
	padding: 0 15px 15px 0;
}

.itemWrapper > img
{
	width: 100%;
	height: auto;
	border: 1px solid #848484;
	box-sizing: border-box;
}

.itemWrapper > div
{
	max-width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: .9em;
	color: #535353;
}

.overlay {
	width: 100%;
	z-index: 2;
	position: relative;
	top: -100%;
	/*-webkit-backface-visibility: hidden;*/
/*	-webkit-transform: translate3d(0,0,0);
	-webkit-transform-style: preserve-3d;*/
	-webkit-transition: opacity .5s ease-out;
	-moz-transition: opacity .5s ease-out;

}

.art {
	width: 100%;
	position: absolute;
	top: 0;
	z-index: 1;
}

.backspace-visibility {
	-webkit-transform: translate3d(0,0,0);
	/*-webkit-backface-visibility: hidden;*/
}

.overlay > img {
}

@media (min-width: 1400px) {
	.itemWrapper {
		width: 14.285%;
	}
}

@media (max-width: 1200px) {
	.itemWrapper {
		width: 16.66667%;
	}
}

@media (max-width: 1000px) {
	.itemWrapper {
		width: 20%;
	}
}

@media (max-width: 800px) {
	.itemWrapper {
		width: 25%;
	}
}
@media (max-width: 600px) {
	.itemWrapper {
		width: 33.3%;
	}
}
@media (max-width: 400px) {
	.itemWrapper {
		width: 50%;
	}
}
