#ContentView > li:first-child, #ContentView > li:nth-child(2) {
	display: none;
}

.stickyHeader {
	background-color: #d1d1d1;
	height: 50px;
	position: absolute;
	top: 0;
	left: 250px;
	right: 0;
	font-size: 12px;
}

.stickyHeader > div {
	line-height: 50px;
	float: left;
	color: #515151;
	font-weight: 600;
}

.stickyHeader > div:first-child {
	width: 40px;
	text-align: center;
}

.stickyHeader > div:nth-child(2) {
	width: 52px;
	float: right;
	text-align: center;
}

.albumListing {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.albumListingSidebar {
	-webkit-select-user: none;
	cursor: pointer;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 250px;
	background-color: #d1d1d1;
}

.albumListingSidebar > img {
	width: 210px;
	padding-top: 20px;
	padding-left: 20px;
}

.albumListingSidebar-title {
	list-style: none;
	top: 0;
	font-size: 1.2em;
	font-weight: 600;
	padding: 15px 20px 0px 20px;
}

.albumListingSidebar-item {
	padding: 15px 20px 15px 20px;
	font-size: 14px;
}

.albumListingSidebar-item:hover {
	background-color: #fff;
}

.albumRelatedContentLinks > li:nth-child(2) {
	padding: 5px 20px;
}

.albumRecordLabelInfo {
	font-size: 11px;
	position: absolute;
	bottom: 20px;
	left: 20px;
	right: 20px;
	list-style: none;
}

.albumRecordLabelInfo > li:first-child {
	padding-bottom: 5px;
}

.albumTableMiddleColumn {
	position:absolute;
	left: 40px;
	right: 52px;
}

.albumTableMiddleColumn > div:first-child {
	float: left;
	font-weight: 600;
	font-size: 13px;
	width: 65%;
}

.albumTableMiddleColumn > div:last-child {
	float: left;
	width: 35%;
}


.albumListingTrackList {
	position: absolute;
	top: 50px;
	left: 250px;
	right: 0;
	bottom: 0;
	font-size: 12px;
	color: #757575;
}

.albumListingTrackList > li {
	height: 50px;
	list-style: none;
	width: 100%;
}

.albumListingTrackList > li > div {
	box-sizing: border-box;
	line-height: 50px;
	float: left;
}

.albumListingTrackList > li > div:first-child {
	float: left;
	width: 40px;
	color: #959595;
	text-align: center;
}

.albumListingTrackList > li > div:last-child {
	float: right;
	width: 52px;
	text-align: center;
}
.albumListingTrackList > li:nth-child(even) {
	background-color: #fafafa;
}

.albumListingTrackList > li:nth-child(odd) {
	background-color: #fff;
}
