html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.mainContentPadding {
	padding: 15px 0 0 15px;
	background-color: #e8e8e8;
}

.artistsMain > img {
	display: none;
}


.itemWrapper {
	position: relative;
	box-sizing: border-box;
	float: left;
	width: 16.666%;
	padding: 0 15px 15px 0;
}

.itemWrapper > div:first-child
{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-image: url("../img/BlankAlbum.png");
	width: 100%;
	border: 1px solid #848484;
	box-sizing: border-box;
}

/* OH MY GOD EQUAL WIDTH/HEIGHT BOX */
.itemWrapper > div:first-child:before
{
	content: "";
	margin-top: 100%;
	display: block;
}

.itemWrapper > div:nth-child(3) {
	line-height: 16px;
	margin-top: -4px;
	font-size: .8em;
	font-weight: 400;
	color: #757575;
}

.itemWrapper > div
{
	padding-top: 5px;
	max-width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: .9em;
	color: #535353;
}

.itemArrow {
	display: none;
}

.overlay {
	width: 100%;
	z-index: 2;
	position: relative;
	top: -100%;
	/*-webkit-backface-visibility: hidden;*/
/*	-webkit-transform: translate3d(0,0,0);
	-webkit-transform-style: preserve-3d;*/
	-webkit-transition: opacity .5s ease-out;
	-moz-transition: opacity .5s ease-out;

}

.art {
	width: 100%;
	position: absolute;
	top: 0;
	z-index: 1;
}

.backspace-visibility {
	-webkit-transform: translate3d(0,0,0);
	/*-webkit-backface-visibility: hidden;*/
}

.overlay > img {
}

@media (min-width: 1400px) {
	.itemWrapper {
		width: 14.285%;
	}
}

@media (max-width: 1200px) {
	.itemWrapper {
		width: 16.66667%;
	}
}

@media (max-width: 1000px) {
	.itemWrapper {
		width: 20%;
	}
}

@media (max-width: 800px) {
	.itemWrapper {
		width: 25%;
	}

	.listView .itemArrow {
		display: block;
		position: absolute;
		opacity: .6;
		right: 10px;
		top: 27.5px;
		background: url('../img/sprite.png') no-repeat -87px -308px;
		background-size: 315px 435px;
		width: 9px;
		height: 15px;
	}

	.listView {
		padding: 0;
	}

	.listView :first-child {
		border-top: 1px solid #cfcfcf;
	}

	.listView > .itemWrapper {
		float: none;
		clear: both;
		width: 100%;
		height: 60px;
		padding: 0 25px 0 0; 
		border-bottom: 1px solid #cfcfcf;
		overflow: hidden;
	}

	.listView > .itemWrapper :first-child
	{
		padding: 0;
		border: none;
		border-right: 1px solid #cfcfcf;
		float: left;
		width: 60px;
	}

	.listView > div > div:nth-child(2)
	{
		padding: 0;
		line-height: 60px;
		margin-left: 66px;
	}

	.listView > .albumItem :nth-child(2) {
		position: relative;
		top: 6px;
		padding: 0;
		line-height: 30px;
		margin-left: 66px;
	}

	.listView > .albumItem :nth-child(3) {
		position: relative;
		top: -4px;
		padding: 0;
		line-height: 30px;
		margin-left: 66px;
	}
}
@media (max-width: 600px) {
	.itemWrapper {
		width: 33.3%;
	}
}
@media (max-width: 400px) {
	.itemWrapper {
		width: 50%;
	}
}
