@charset "UTF-8";
/* CSS Document */

@-webkit-keyframes MenuColumnFadeIn { 
0% { 
opacity:0; 
-ms-transform: translate(220px, 0px);
-webkit-transform: translate3d(220px, 0px);
-moz-transform: translate(220px, 0px);
transform: translate(220px, 0px);

 } 

100% { 
opacity:1; 
-ms-transform: translate(0px, 0px) scale(1);
-webkit-transform: translate3d(0px, 0px);
-moz-transform: translate(0px, 0px) scale(1);
transform: translate(0px, 0px) scale(1);
 }    
 
}
@-moz-keyframes MenuColumnFadeIn { 
0% { 
opacity:0; 
-ms-transform: translate(220px, 0px);
-webkit-transform: translate3d(220px, 0px);
-moz-transform: translate(220px, 0px);
transform: translate(220px, 0px);
 } 

100% { 
opacity:1; 
-ms-transform: translate(0px, 0px) scale(1);
-webkit-transform: translate3d(0px, 0px);
-moz-transform: translate(0px, 0px) scale(1);
transform: translate(0px, 0px) scale(1);
 }
}
@keyframes MenuColumnFadeIn { 
0% { 
opacity:0; 
-ms-transform: translate(220px, 0px);
-webkit-transform: translate3d(220px, 0px);
-moz-transform: translate(220px, 0px);
transform: translate(220px, 0px);
 } 

100% { 
opacity:1; 
-ms-transform: translate(0px, 0px) scale(1);
-webkit-transform: translate3d(0px, 0px);
-moz-transform: translate(0px, 0px) scale(1);
transform: translate(0px, 0px) scale(1);
 }
}
 
 
.MenuColumnFadeIn {
	-webkit-transform-style: preserve-3d;
    -webkit-animation:MenuColumnFadeIn linear 1; 
    -moz-animation:MenuColumnFadeIn linear 1;
    animation:MenuColumnFadeIn linear 1;
	 
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
 
    -webkit-animation-duration:0ms;
    -moz-animation-duration:0ms;
    animation-duration:0ms;
	
}
 

@-webkit-keyframes PlaylistFadeIn { 
0% { 
opacity:0; 
-ms-transform: translate(-260px, 0px);
-webkit-transform: translate3d(-260px, 0px);
-moz-transform: translate(-260px, 0px);
transform: translate(-260px, 0px);
 } 

100% { 
opacity:1; 
-ms-transform: translate(0px, 0px);
-webkit-transform: translate3d(0px, 0px);
-moz-transform: translate(0px, 0px);
transform: translate(0px, 0px);
 } 
}
@-moz-keyframes PlaylistFadeIn { 
0% { 
opacity:0; 
-ms-transform: translate(-260px, 0px);
-webkit-transform: translate3d(-260px, 0px);
-moz-transform: translate(-260px, 0px);
transform: translate(-260px, 0px);
 } 

100% { 
opacity:1; 
-ms-transform: translate(0px, 0px);
-webkit-transform: translate3d(0px, 0px);
-moz-transform: translate(0px, 0px);
transform: translate(0px, 0px);
 } 
}
@keyframes PlaylistFadeIn { 
0% { 
opacity:0; 
-ms-transform: translate(-220px, 0px);
-webkit-transform: translate3d(-220px, 0px);
-moz-transform: translate(-220p, 0px);
transform: translate(-220p, 0px);
 } 

100% { 
opacity:1; 
-ms-transform: translate(0px, 0px);
-webkit-transform: translate3d(0px, 0px);
-moz-transform: translate(0px, 0px);
transform: translate(0px, 0px);
 } 
}
 
 
.PlaylistFadeIn {
    -webkit-animation:PlaylistFadeIn linear 1; 
    -moz-animation:PlaylistFadeIn linear 1;
    animation:PlaylistFadeIn linear 1;
	-webkit-transform-style: preserve-3d;	
	-webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
 
    -webkit-animation-duration:0ms;
    -moz-animation-duration:0ms;
    animation-duration:0ms;
	
}
	
	
.shadow { 
-moz-box-shadow: 0px 8px 15px #333;
-webkit-box-shadow: 0px 8px 15px #333;
box-shadow: 0px 8px 15px #333;
 }

#ColorFade{
	position:absolute;
	top:0;
	height:100%;
	width:100%;
	}

.TopDownWhiteFade{
	background-image:url(../img/whitebgfade.png);
	background-repeat:repeat-x;
	}
	
.TopDownWhiteFadeBottom{
   background-color: rgba(230, 230, 230, 0.9) !important; 
}

.TopDownWhiteSolid{
}

.unclickableGradient{
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 10%) !important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(10%,rgba(255,255,255,1))) !important;
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 10%) !important;
	background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 10%) !important;
	background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 10%) !important;
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 10%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ) !important;
	top:0px !important;
}


