body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    padding: 0;
	font-family: Helvetica, "Helvetica Neue Light", "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
	font-weight: 600;

}

.fullscreenWebApp {
	top: 20px;
}

#left, #right, #filter {
    position: absolute;
    top: 0;
	bottom: 0;
    background-color: #333;
}

.scroll {
	overflow: auto;
    -webkit-overflow-scrolling: touch;
}

h1 {
    text-align: center;
}

#left {
    left: 0;
    width: 220px;
	background-color:#dadada;
}
#left:not(:first-child) > div, #right:not(:first-child) > div {
	overflow: auto;
}

#right {
    right: 0;
    width: 260px;
	background-color:#dadada;
	overflow: none;
}

#right .nowPlaying
{
	color: #1f1f1f;
	background-color: #f2f2f2;
}

#filter
{
    width: 140px;
    right: 0;
}

.scrollContent {
    position: absolute;
    width: 100%;
	top: 0px;
}

#leftContent {
    width: 220px;
}

#rightContent {
	height: 100%;
    width: 260px;
}

#main {
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
    background-color: rgb(232, 232, 232);
    box-sizing: border-box;
	box-shadow: 0px 8px 15px rgba(0,0,0,.2);
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
	z-index: 9999;
}

.main-albumArt {
	display: none;
}

.main-scrollingContent {
	position: absolute;
	top: 140px;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #e8e8e8;
}

#mainContent {
	background-color: #e8e8e8;
    position:absolute;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 0;
    box-sizing: border-box;
	overflow: auto;
}


.topBar {
    position: relative;
    width: 100%;
    height: 60px;
}

.topBarContent {
    padding: 20px;
}

@media (min-device-width: 769px) {

    #main {
        position: relative;
    }

    #left, #right, #filter {
        -webkit-transition: width .4s ease-out;
    }

    #left {
        float: left;
    }

    #right, #filter {
        float: right;
    }

    #filter {
        display: none;
    }

    #main {
        position: absolute;
        width: 100%;
        height: 100%;
    }

	.mainContent {
		position: relative;
		height: 100%;
		overflow: visible;
		box-sizing: border-box;
	}

    .transitions {
        -moz-transition: left 0.2s ease-out, right 0.2s ease-out, width 0.2s ease-out;
        -o-transition: left 0.2s ease-out, right 0.2s ease-out, width 0.2s ease-out;
        -webkit-transition: left 0.2s ease-out, right 0.2s ease-out, width 0.2s ease-out;
        transition: left 0.2s ease-out, right 0.2s ease-out, width 0.2s ease-out
    }
}
