body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    margin: 0;
    padding: 0;
	background-color:#dadada;
}

#left, #right, #filter {
    position: absolute;
    top: 0;
    min-height: 100%;
    background-color: #333;
}

.scroll {
    overflow-x:hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}



h1 {
    text-align: center;
}

#left {
    left: 0;
    width: 220px;
	background-color:#dadada;
}

#right {
    right: 0;
    width: 260px;
	background-color:#dadada;
}

#filter
{
    width: 140px;
    right: 0;
}

.scrollContent {
    position: absolute;
    width: 100%;
	top: 0px;
}

#leftContent {
    width: 220px;
}

#rightContent {
    width: 260px;
}

#main {
    background-color: white;
    box-sizing: border-box;
	box-shadow: 2px 8px 15px rgba(0,0,0,.2);    
    width: 100%;
    height: 100%;
    position: relative;
    overflow: scroll;
}

#mainContent {
	background-color: #e8e8e8;
    position:absolute;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 0;
    box-sizing: border-box;
}


.topBar {
    position: relative;
    width: 100%;
    height: 60px;
}

.topBarContent {
    padding: 20px;
}

@media (min-device-width: 769px) {

    #left, #right, #filter, #main {
        position: relative;
    }

    #left, #right, #filter {
        -webkit-transition: width .4s ease-out;
    }

    #left {
        float: left;
    }

    #right, #filter {
        float: right;
        position: relative;
    }

    #filter {
        display: none;
    }

    #main {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 9999;
    }

    .transitions {
        -moz-transition: left 0.2s ease-out, right 0.2s ease-out, width 0.2s ease-out;
        -o-transition: left 0.2s ease-out, right 0.2s ease-out, width 0.2s ease-out;
        -webkit-transition: left 0.2s ease-out, right 0.2s ease-out, width 0.2s ease-out;
        transition: left 0.2s ease-out, right 0.2s ease-out, width 0.2s ease-out
    }
}
