@charset "UTF-8";
/* CSS Document */

/* ContentFilter */	
#ContentFilter{
	height:.1px;
	background-color:#F0F0F0;
	color:#000;
	overflow:hidden;
	padding: 0px 15px 0px 15px;
	color: #757575;
	font-weight: 600;
	font-size: 14px;
	}
.ContentFilterVisibility{
	height:102px !important;
	opacity:.9;
	}
	
.FilterTitle{
	color: #1f1f1f;
	width:55px;
	}	
	
	

/* nav */
.nav {
	position: relative;
	margin: 0px 0px;
	z-index:700;
	color: #757575;
	font-weight: 600;
	font-size: 14px;
	padding-top:15px;
	overflow:hidden;2
}

.navDisplay{
	display:inline-block !important;
	
	}
.nav ul {
	float: left;
	clear: both
}
.nav li {
	padding: 0;
	list-style: none;
	padding: 0px 15px 0px 0px;
	line-height:25px;
	float: left;	
}
.nav a {
	text-decoration: none;
	color: #999;
	line-height: 100%;
	}
	

	

.nav a:hover {
	color: #000;
}
.nav .current a {
	color:#666;
}

#Filters{
	margin-right:25px;
	} 

@media screen and (min-width: 480px) {

 
}
@media screen and (max-width: 480px) {
 	
	
}