@charset utf-8;

/* Defaults */
body, html {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
    padding: 0;
	font-family: Helvetica, "Helvetica Neue Light", "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
	font-weight: 600;
	background-color: #5c6367;
	color: #666;
	overflow: hidden;
}

body, html, div, a {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

a, a:visited {
	text-decoration: none;
}

input:focus {
	outline: none;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.clear-fix {
	clear: both;
}

.full-screen-web-app {
	top: 20px;
}

.truncate-ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.login-form {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 3;

	background: rgb(219,147,197);
	background: -moz-linear-gradient(45deg,  rgba(219,147,197,1) 0%, rgba(169,164,205,1) 48%, rgba(148,166,200,1) 100%);
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(219,147,197,1)), color-stop(48%,rgba(169,164,205,1)), color-stop(100%,rgba(148,166,200,1)));
	background: -webkit-linear-gradient(45deg,  rgba(219,147,197,1) 0%,rgba(169,164,205,1) 48%,rgba(148,166,200,1) 100%);
	background: -o-linear-gradient(45deg,  rgba(219,147,197,1) 0%,rgba(169,164,205,1) 48%,rgba(148,166,200,1) 100%);
	background: -ms-linear-gradient(45deg,  rgba(219,147,197,1) 0%,rgba(169,164,205,1) 48%,rgba(148,166,200,1) 100%);
	background: linear-gradient(45deg,  rgba(219,147,197,1) 0%,rgba(169,164,205,1) 48%,rgba(148,166,200,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db93c5', endColorstr='#94a6c8',GradientType=1 );

}

.login-form-centered {
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 320px;
	height: 280px;
	text-align: right;
}

.login-form input {
	display: block;
	width: 304px;
	height: 25px;
	padding: 8px;
	margin: 0 0 4px 0;
	border-radius: 3px;
	border: none;
	background-color: rgba(255, 255, 255, .2);
	color: rgba(255, 255, 255, 1);
	font-size: .9em;
	font-weight: 400;
	-webkit-transition: .1s background-color ease-out;
	-moz-transition: opacity .15s ease-in-out;
}

.login-form ::-webkit-input-placeholder {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	color: rgba(255, 255, 255, .7);
}

.login-form-button {
	width: 100%;
	height: 41px;
	margin: 0;
	border: none;
	border-radius: 3px;
	background-color: rgba(255, 255, 255, .25);
	text-align: right;
	font-family: "Helvetica Neue", "Helvetica";
	color: #fff;
	font-weight: 500;
	padding: 0 8px 0 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.login-form-button:active {
	background-color: white;
}

/*
 *  This class is also targeted by javascript as an indicator that
 *  elements having it should scroll instead of the body.
 */
.scroll {
	overflow: auto;
    -webkit-overflow-scrolling: touch;
}

/* side panels */
#left, #right {
    position: absolute;
    top: 0;
	bottom: 0;
	background-color:#fff;
}

#left {
    left: 0;
    width: 220px;
}

#right {
    right: 0;
    width: 260px;
}

/* Main content area */
#main {
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
    background-color: rgb(233, 233, 233);
    width: 100%;
    height: 100%;
    position: relative;
	overflow: hidden;
	z-index: 2;
	box-shadow: 0 0 15px rgba(50, 50, 50, .3);
}

.main-scrollingContent {
	position: absolute;
	top: 140px;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #e8e8e8;
}

#mainContent {
	background-color: #e8e8e8;
    position:absolute;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 0;
    box-sizing: border-box;
	-moz-box-sizing: border-box;
	overflow: auto;
}

/* Artist-album page-specific styles */
.artistAlbumMain {
	overflow: hidden;
}

.albumListingContent {
	position: absolute;
	top: 100px;
	left: 190px;
	bottom: 0;
	right: 0;
}

/* Actions that apply to all media items (play all, etc.) located at the top of a page */
.collection-actions {
	text-align: right;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 15px 15px 0 0;
}

/* Same as above, but located inside a page header */
.page-header-collection-actions {
	position: absolute;
	bottom: 0;
	right: 15px;
	display: inline-block;

}

.collection-actions-item {
	cursor: pointer;
	padding: 6px 8px;
	background-color: #d8d8d8;
	border-radius: 2px;
	border: 1px solid #666;
	font-size: .75em;
}

/* Cover list */
.list-cover {

}

.list-index {
	position: absolute;
	top: 100px;
	right: 0px;
	cursor: pointer;
}

.list-index > p {
	font-size: 10px;
	color: #757575;
	margin: 3px;
	padding-right: 20px;
	padding-left: 20px;
	display: block;
}

/* Track list */
.list-track {
	font-size: 12px;
	color: #757575;
	overflow: auto;
	clear: both;
}

.list-track-row {
	position: relative;
	height: 44px;
	padding: 0;
	list-style: none;
	width: 100%;
	clear: both;
	cursor: pointer;
}

.list-track-row-highlight {
	position: absolute;
	z-index: 1;
	top: 0;
	left: -100%;
	height: 44px;
	width: 100%;

	background: rgb(148,166,200);
	background: -moz-linear-gradient(90deg,  rgba(148,166,200,1) 0%, rgba(169,164,205,1) 48%, rgba(219,147,197,1) 100%);
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(148,166,200,1)), color-stop(48%,rgba(169,164,205,1)), color-stop(100%,rgba(219,147,197,1)));
	background: -webkit-linear-gradient(90deg,  rgba(148,166,200,1) 0%,rgba(169,164,205,1) 48%,rgba(219,147,197,1) 100%);
	background: -o-linear-gradient(90deg,  rgba(148,166,200,1) 0%,rgba(169,164,205,1) 48%,rgba(219,147,197,1) 100%);
	background: -ms-linear-gradient(90deg,  rgba(148,166,200,1) 0%,rgba(169,164,205,1) 48%,rgba(219,147,197,1) 100%);
	background: linear-gradient(90deg,  rgba(148,166,200,1) 0%,rgba(169,164,205,1) 48%,rgba(219,147,197,1) 100%);
}

.list-track-row > div {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	line-height: 43px;
	float: left;
}

.list-track-row > .list-track-row-track-number {
	z-index: 2;
	float: left;
	width: 50px;
	height: 44px;
	color: #959595;
	text-align: center;
}

.list-track-row > .list-track-row-duration {
	z-index: 2;
	float: right;
	width: 52px;
	text-align: center;
}
.list-track-row:nth-child(even) {
	background-color: #fff;
}

.list-track-row:nth-child(odd) {
	background-color: #fafafa;
}

/* TrackList header */
.list-track-header {
	height: 45px;
	font-size: 12px;
	color: #515151;
	font-weight: 600;
	background-color: #d8d8d8 !important;
}

/* TrackList now playing modifier */
.list-track-now-playing
{
	background-color: #e8e8e8 !important;
}

.list-track-now-playing > div:first-child > div
{
	margin-top: 17px;
	margin-left: 16px;
	opacity: .6;
	background: url('../img/sprite.png') no-repeat -30px -172px;
	background-size: 210px 290px;
	width: 13px;
	height: 15px;
}

/* TrackList middle column */
.list-track-row-middle-column {
	position:absolute;
	left: 50px;
	right: 52px;
	font-weight: 500;
	z-index: 2;
}

.list-track-row-middle-column > div
{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.list-track-row-middle-column > div:first-child {
	font-size: 13px;
	float: left;
	width: 65%;
}

.list-track-row-middle-column > div:last-child {
	float: left;
	width: 35%;
}

/* Action sheet */
.action-sheet {
	background-color: white;
	position: absolute;
	bottom: 0px;
	width: 100%;
	z-index: 100000;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}

.action-sheet li {
	text-align: center;
	line-height: 50px;
	width: 100%;
}

.context-menu {
	background-color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 10px 0;
	line-height: 2.5em;
	list-style: none;
	font-weight: 400;
	font-size: .8em;
	box-shadow: 0 1px 2px #777;
	border-radius: 1px;
	z-index: 100000;
}

.context-menu a, .context-menu a:hover, .context-menu a:visited, .context-menu a:active {
	color: #333;
}

.context-menu li {
	padding: 0 10px;
}

.context-menu li:hover {
	background-color: #f2f2f2;
}

/* Media page - generally contains a tracklist and some additional information
 * about those tracks */
.mediaPage .page-album-cover {
	float: left;
	margin-right: 10px;
	width: 130px;
	height: 130px;
	background-image: url('../img/BlankAlbum.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border: 1px solid #666;
}


.page-content {
	width: 100%;
	height: -webkit-calc(100% - 50px);
}

.page-content-search {
	height: -webkit-calc(100% - 100px);
}

.mediaPage header {
	position: relative;
	height: 145px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 15px 15px 0 15px;
}

.mediaPage header ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.mediaPage header li {
	padding: 1px 0;
}

.mediaPage header img {
	width: 130px;
	height: 130px;
	float: left;
	margin-right: 10px;
}

.mediaPage header h1 {
	margin: 0;
	text-align: left;
	font-size: 1.6em;
	font-weight: 600;
	margin-bottom: 2px;
}

.mediaPage header h2 {
	margin: 0 0 23px 0;
	font-size: .95em;
	opacity: .8;
	font-weight: 300;
}

.mediaPage header h3 {
	margin: 2px 0;
	font-size: .6em;
	opacity: .8;
	font-weight: 200;
}

.thinFaded {
	opacity: 0.4;
	font-weight: 200;
	font-size: .8em;
}

/* Media collection list */
.list-cover-item {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	float: left;
	width: 16.666%;
	padding: 0 15px 15px 0;
}

.list-cover-item > :first-child
{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-image: url("../img/BlankAlbum.png");
	width: 100%;
	border: 1px solid #848484;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

/* OH MY GOD EQUAL WIDTH/HEIGHT BOX */
.list-cover-item > :first-child:before
{
	content: "";
	margin-top: 100%;
	display: block;
}

.list-cover-item > div
{
	padding-top: 5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: .9em;
	color: #535353;
}

.list-cover-item-arrow {
	display: none;
}

.art {
	width: 100%;
	position: absolute;
	top: 0;
	z-index: 1;
}

.scrollContent {
    position: absolute;
    width: 100%;
	top: 0px;
}

.dropzone-callout {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border: 2px dashed #333;
    border-radius: 7px;
    margin: 3px;
}



.page-header {
	position: relative;
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	width: 100%;
	height: 50px;
	padding: 0;
	background-color: rgb(224, 224, 224);
	text-align: center;
}

.page-header-float-transparent {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background-color: transparent;
	color: #fff;
}

.page-artist-header {
	position: relative;
	width: 100%;
	height: 300px;
	background-position: top;
	background-size: cover;
}

.page-artist-header-overlay {
	position: absolute;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	background-color: rgba(0, 0, 0, .4);
	width: 100%;
	height: 100%;
	overflow: auto;
	color: #fff;
	-webkit-transition: opacity .15s ease-in-out;
	-moz-transition: opacity .15s ease-in-out;
}

.page-artist-tabs{
	position: absolute;
	bottom: 0;
	left: 15px;
	list-style: none;
	border-top: 1px solid #ccc;
	width: calc(100% - 30px);
	padding: 15px 0;
	margin: 0;
}

.page-artist-header-button {
	float: left;
	font-weight: 300;
	font-size: .9em;
	text-align: center;
	margin-right: 18px;
	cursor: pointer;
}

.page-artist-header-button :first-child {
	font-size: 1.2em;
	font-weight: 700;
}

.page-artist-header-name {
	position: absolute;
	left: 15px;
	bottom: 82px;
}

.Logo {
	background-image:url(../img/logoColored.png);
	background-position:center;
	background-size:56px 16px;
	background-repeat:no-repeat;
}

#LogoArea {
	height: 50px;
	width: 220px;
	position: absolute;
}

.server-search-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background-color: rgba(246, 246, 246, .6);
	height: 50px;
}

.server-search-results {
	opacity: 0;
	-webkit-transition: opacity .2s ease-in-out;
	color: #fff;
}

.server-search-results-section-header {
	border-top: 1px solid rgba(255, 255, 255, .7);
	border-bottom: 1px solid rgba(255, 255, 255, .7);
	padding: 3px 5px;
	margin-bottom: 5px;
	background-color: rgba(255, 255, 255, .3);
	font-size: .75em;
	font-weight: 500;
}

.server-search-results a:link, .server-search-results a:visited, .server-search-results a:active {
	color: #fff;
}

.server-search-results-section {
	list-style: none;
	padding: 5px 0 0 0;
	margin: 0;
}

.server-search-results-item {
	padding: 0 0 0 0;
	font-size: .9em;
	cursor: pointer;
	height: 40px;
	clear: both;
}

.server-search-results-item:hover {
	background-color: rgba(255, 255, 255, .3);
}

.server-search-result-item-image {
	width: 40px;
	height: 40px;
	float: left;
	background-size: cover;
	background-position: center;
}

.server-search-result-item-title {
	padding-left: 5px;
}

.server-search-result-item-subtitle {
	padding-left: 5px;
	font-size: .75em;
	font-weight: 300;
}

.server-search-input {
	border: none;
	background-color: transparent;
	width: 100%;
	height: 50px;
	padding: 5px 15px;
	box-sizing: border-box;
	margin: 0;

	color: #fff;
	font-size: .85em;
	font-weight: 200;
}

.server-search-input::-webkit-input-placeholder {
	color: rgba(255, 255, 255, .8);
}

@-webkit-keyframes color-fade-animation-1 {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}

@-webkit-keyframes color-fade-animation-2 {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@-webkit-keyframes color-fade-animation-3 {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.color-fade-layer-1, .color-fade-layer-2, .color-fade-layer-3 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.color-fade-layer-1 {
	background: rgb(148,166,200);
	background: -moz-linear-gradient(45deg,  rgba(148,166,200,1) 0%, rgba(169,164,205,1) 48%, rgba(219,147,197,1) 100%);
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(148,166,200,1)), color-stop(48%,rgba(169,164,205,1)), color-stop(100%,rgba(219,147,197,1)));
	background: -webkit-linear-gradient(45deg,  rgba(148,166,200,1) 0%,rgba(169,164,205,1) 48%,rgba(219,147,197,1) 100%);
	background: -o-linear-gradient(45deg,  rgba(148,166,200,1) 0%,rgba(169,164,205,1) 48%,rgba(219,147,197,1) 100%);
	background: -ms-linear-gradient(45deg,  rgba(148,166,200,1) 0%,rgba(169,164,205,1) 48%,rgba(219,147,197,1) 100%);
	background: linear-gradient(45deg,  rgba(148,166,200,1) 0%,rgba(169,164,205,1) 48%,rgba(219,147,197,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94a6c8', endColorstr='#db93c5',GradientType=1 );
	-webkit-animation: color-fade-animation-1 25s infinite;
}

.color-fade-layer-2 {
	background: rgb(219,147,197);
	background: -moz-linear-gradient(45deg,  rgba(219,147,197,1) 0%, rgba(169,164,205,1) 48%, rgba(148,166,200,1) 100%);
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(219,147,197,1)), color-stop(48%,rgba(169,164,205,1)), color-stop(100%,rgba(148,166,200,1)));
	background: -webkit-linear-gradient(45deg,  rgba(219,147,197,1) 0%,rgba(169,164,205,1) 48%,rgba(148,166,200,1) 100%);
	background: -o-linear-gradient(45deg,  rgba(219,147,197,1) 0%,rgba(169,164,205,1) 48%,rgba(148,166,200,1) 100%);
	background: -ms-linear-gradient(45deg,  rgba(219,147,197,1) 0%,rgba(169,164,205,1) 48%,rgba(148,166,200,1) 100%);
	background: linear-gradient(45deg,  rgba(219,147,197,1) 0%,rgba(169,164,205,1) 48%,rgba(148,166,200,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db93c5', endColorstr='#94a6c8',GradientType=1 );
	-webkit-animation: color-fade-animation-2 25s infinite;
}

.color-fade-layer-3 {
	background: rgb(148,166,200);
	background: -moz-linear-gradient(45deg,  rgba(148,166,200,1) 0%, rgba(169,164,205,1) 48%, rgba(219,147,197,1) 100%);
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(148,166,200,1)), color-stop(48%,rgba(169,164,205,1)), color-stop(100%,rgba(219,147,197,1)));
	background: -webkit-linear-gradient(45deg,  rgba(148,166,200,1) 0%,rgba(169,164,205,1) 48%,rgba(219,147,197,1) 100%);
	background: -o-linear-gradient(45deg,  rgba(148,166,200,1) 0%,rgba(169,164,205,1) 48%,rgba(219,147,197,1) 100%);
	background: -ms-linear-gradient(45deg,  rgba(148,166,200,1) 0%,rgba(169,164,205,1) 48%,rgba(219,147,197,1) 100%);
	background: linear-gradient(45deg,  rgba(148,166,200,1) 0%,rgba(169,164,205,1) 48%,rgba(219,147,197,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94a6c8', endColorstr='#db93c5',GradientType=1 );
	-webkit-animation: color-fade-animation-3 25s infinite;
}

/* Sprite mappings */
.sprite {
	display: inline-block;
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	background-size: 400px 900px;
	width: 50px;
	height: 50px;
}

.sprite-double-wide {
	display: block;
	margin: 40px auto;
	width: 100px;
}

.sprite-logo-colored {
	background-position: -50px -50px;
}

.sprite-logo {
	background-position: -50px 0;
}

.sprite-music-note {
	background-position: 0 -100px;
}

.sprite-cd {
	background-position: 0 -300px;
}

.sprite-folder {
	background-position: 0 -800px;
}

.sprite-playlist {
	background-position: 0 -499px;
}

.sprite-back-arrow {
	cursor: pointer;
	background-position: -50px -750px;
}

.sprite-menu {
	cursor: pointer;
	background-position: -50px -300px;
}

.sprite-play-queue {
	cursor: pointer;
	background-position: 0 -650px;
}

.sprite-play {
	background-position: -50px -500px;
}

.sprite-pause {
	background-position: -50px -800px;
}

.sprite-full-screen {
	background-position: -50px -550px;
}

.sprite-shuffle {
	background-position: -100px -350px;
}

.sprite-repeat {
	background-position: -100px -200px;
}

.sprite-repeat-one {
	background-position: -100px -250px;
}

.sprite-new-playlist {
	background-position: -150px -100px;
}

.sprite-plus {
	background-position: -150px -200px;
}

.sprite-pencil {
	background-position: -150px -250px;
}

.sprite-search {
	background-position: -50px -350px;
}

/* Page chrome */
.page-title {
	position: absolute;
	top: 0;
	left: 50px;
	right: 50px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	line-height: 50px;
	text-align: center;
	font-weight: 700;
	color: #333;
}

.page-search {
	background-color: #fff;
	width: 100%;
	height: 50px;
}

.page-search-textbox {
	position: absolute;
	left: 5px;
	right: 150px;
	height: 28px;
	font-size: 13px;
	border: none;
	color:#bebebe;
	padding: 11px 0 11px 32px;
	background-color: transparent;
	background-image: url(../img/search.png);
	background-position: 8px center;
	background-size: 17px 17px;
	background-repeat: no-repeat;
	user-select: text;
	-webkit-user-select: text;
}

.page-search-toggle {
	float: right;
	width: 15px;
	height: 15px;
	padding: 17.5px;
	opacity: .6;
	background-position:center;
	background-size:15px auto;
	background-repeat:no-repeat;
}

.AlbumSortIcon {
	background-image:url(../img/AlbumView.png);
}

.DirectoryViewIcon {
	background-image:url(../img/ListView.png);
}

/* Sidebar Menu */
.nav {
	position: absolute;
	top: 50px;
	bottom: 0px;
	width: 220px;
	z-index: 1;
	overflow: auto;
	margin: 0;
	padding: 0;
	color: #757575;
	font-weight: 600;
	font-size: 14px;

	transition: -webkit-transform .2s ease-in-out;
}

.nav ul {
	padding: 0;
	margin: 0 0 15px 0;
}

.nav li {
	height:50px;
	width:220px;
	list-style: none;
}

.nav-sidebar-footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 220px;
	height: 50px;
}

.nav-sidebar-footer > div {
	line-height: 38px;
	cursor: pointer;
}

.nav-sidebar-footer > div:first-child
{
	float: left;
}

.nav-sidebar-footer > div:first-child
{
	float: right;
}

.MenuText {
	display: block;
	color: #fff;
	line-height: 50px;
	font-weight: 400;
	font-size: 14px;
	max-width: 175px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding-right: 15px;
}

.navigation-section-header {
	color: #fff;
	font-weight: 600;
	font-size: 11px;
	text-transform: uppercase;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 30px 0 0 15px;
}

.navigation-item-input {
	height: 50px;
	border: none;
	padding: 0 15px 0 0;
	margin: 0;
	width: 155px;
	background: transparent;
	font-size: 14px;
	font-weight: 400;
	font-family: "Helvetica";
	color: #fff;
}

.navigation-item-input::-webkit-input-placeholder {
	color: rgba(255, 255, 255, .6);
}

.SidebarIcons:hover {
	background-color: rgba(255, 255, 255, .3);
}

.SidebarIconsActive li {
	background-color: rgba(255, 255, 255, .4) !important;
}

.RepeatIcon {
	background: url('../img/sprite.png') no-repeat -74px -105px;
	background-size: 315px 435px;
	width: 21px;
	height: 19px;
}

.RepeatOneIcon {
	background: url('../img/sprite.png') no-repeat -72px -129px;
	background-size: 315px 435px;
	width: 24px;
	height: 20px;
}

.ShuffleIcon {
	background: url('../img/sprite.png') no-repeat -72px -180px;
	background-size: 315px 435px;
	width: 25px;
	height: 18px;
}

.off {
	opacity: .4;
}

.menuStickyFooter {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 220px;
	height: 35px;
	padding: 0 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-shadow: 0 -1px 2px #aaa;
	background-color: rgba(226, 226, 226, 1);
}

.menuStickyFooter > div {
	line-height: 38px;
	cursor: pointer;
}

.menuStickyFooter > div:first-child
{
	float: left;
}

.menuStickyFooter > div:first-child
{
	float: right;
}

.play-queue-footer {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 260px;
	height: 50px;
}

.play-queue-footer > div {
	line-height: 38px;
	cursor: pointer;
}

.play-queue-footer > div:first-child
{
	float: left;
}

.play-queue-footer > div:first-child
{
	float: right;
}

.play-queue {
	position: absolute;
	top: 50px;
	bottom: 45px;
	width: 260px;
	z-index: 0;
	overflow-x: hidden;
}

.play-queue-now-playing
{
	background-color: rgba(255, 255, 255, .3);
}

.play-queue-dragged-item {
	opacity:0.25;
	filter:alpha(opacity=25); /* For IE8 and earlier */
}

.play-queue-drag-position-indicator-top {
	padding-top: 50px;
}

.play-queue-drag-position-indicator-bottom {
	padding-bottom: 100px;
}

.play-queue-item {
	-webkit-user-select: none;
	/*border-bottom: 1px #ccc solid;*/
	width: 100%;
	height: 50px;
	color: #fff;
	-webkit-transition: padding-top .25s ease-in-out;
	-moz-transition: opacity .15s ease-in-out;
}

.play-queue-item-title {
	-webkit-user-select: none;
	width: 200px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 9px 0 0 10px;
	font-weight: 400;
	font-size: 14px;
}

.play-queue-item-artist  {
	-webkit-user-select: none;
	font-size: 11px;
	padding: 0 45px 0 10px;
	font-weight: 300;
}

.play-queue-item-duration {
	-webkit-user-select: none;
	font-weight: 400;
	float: right;
	margin-top: -22px;
	font-size: 12px;
	padding: 0 10px 0 0;
}

.AlbumsIcons {
	float: left;
	background: url('../img/sprite.png') no-repeat -12px -206.66px;
	background-repeat: no-repeat;
	background-size: 420px 580px;
	margin-top: 12px;
	margin-left: 13px;
	width: 25.33px;
	height: 26px;
}

#mini-player {
	position: absolute;
	background-color: rgba(238, 238, 238, 0.6);
	height: 50px;
	width: 100%;
	z-index: 1;
	top: 0px;
	cursor: pointer;
}

#mini-player .Play {
	padding: 17px 20px;
}

#mini-player .Play > div {
	background: url('../img/sprite.png') no-repeat -45px -258px;
	background-size: 315px 435px;
	width: 13px;
	height: 15px;
	opacity: .6;
}

#mini-player .Pause {
	padding: 17px 20px;
}

#mini-player .Pause > div {
	background: url('../img/sprite.png') no-repeat -44px -409px;
	background-size: 315px 435px;
	width: 14px;
	height: 15px;
	opacity: .6;
}

#mini-player > div {
	float: left;
}

.mini-player-text-area {
	position: relative;
	width: 160px;
	height: 50px;
	background-color: rgba(255, 255, 255, .5);
	padding: 5px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	font-size: 10px;
	line-height: 20px;
	text-shadow: 0px 1px 1px #ffffff;
	color: #6e6e6e;
    filter: dropshadow(color=#ffffff, offx=0, offy=1);
}

.mini-player-text-area > div {
	max-width: 110px;
}

.mini-player-strong {
	font-size: 1.2em;
	color: #333;
	font-weight: 600;
}

.playlistDragOver {
	border-top: 1px solid blue;
	border-bottom: 1px solid blue;
}

.PlayerDisplay {
	height: 50px;
	width:232px;
	position:absolute;
	left: 50px;

	background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0.5)));
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 100%);
	background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 100%);
	background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 100%);
	background: radial-gradient(ellipse at center,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#80ffffff',GradientType=1 );
}

.PlayerDisplaySongTitle {
	float: left;
	max-width: 120px;
	font-weight: 600;
	color: #333333;
	top: 2px;
}

.PlayerDisplayArtist {
	clear: both;
	float: left;
	max-width: 120px;
	font-weight:400;
	color:#6e6e6e;
	bottom:4px;
}

.PlayerDisplaySongTime {
	float: right;
	font-weight: 400;
	color:#6e6e6e;
	right:6.5px;
	bottom: 4px;
}

.PlayerDisplaySongTimeLeft {
	float: right;
	color:#6e6e6e;
	top:2px;
	right:6.5px;
}

.mini-player-playhead {
	height: 50px;
	width:3px;
	background: #fff
	background: -moz-linear-gradient(left,  #fff 50%, #fff 51%);
	background: -webkit-gradient(linear, left top, right top, color-stop(50%,#fff), color-stop(51%,#fff));
	background: -webkit-linear-gradient(left,  #fff 50%,#fff 51%);
	background: -o-linear-gradient(left,  #fff 50%, #fff 51%);
	background: -ms-linear-gradient(left,  #fff 50%,#fff 51%);
	background: linear-gradient(to right,  #fff 50%,#fff 51%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#fff',GradientType=1 );
	position:absolute;
	bottom:0px;
	left: 0;
	z-index: -1;
}



#main > div
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

/* viewstack */
.viewstack-animate
{
	-webkit-transition: -webkit-transform .3s ease-in-out;
	-moz-transition: opacity .15s ease-in-out;
}

.viewstack-onscreen
{
	-webkit-transform: translateX(0) !important;
}

.viewstack-offscreen-left
{
	-webkit-transform: translateX(-100%);
}

.viewstack-offscreen-right
{
	-webkit-transform: translateX(100%);
}

@media (min-device-width: 769px) {

    #left, #right {
        -webkit-transition: width .4s ease-out;
		-moz-transition: opacity .15s ease-in-out;
    }

    #left {
        float: left;
    }

    #right {
        float: right;
    }

	.mainContent {
		position: relative;
		height: 100%;
		overflow: visible;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
	}

	.list-cover-item {
		width: 127px;
		height: 127px;
		float: none;
		display: inline-block;
		margin: 10px;
		cursor: pointer;
	}

    .transitions {
        -moz-transition: left 0.2s ease-out, right 0.2s ease-out, width 0.2s ease-out;
        -o-transition: left 0.2s ease-out, right 0.2s ease-out, width 0.2s ease-out;
        -webkit-transition: left 0.2s ease-out, right 0.2s ease-out, width 0.2s ease-out;
        transition: left 0.2s ease-out, right 0.2s ease-out, width 0.2s ease-out
    }
}

@media (min-device-width: 769px and min-width: 1400px) {
	.list-cover-item {
		width: 127px;
		height: 127px;
		float: none;
		display: inline-block;
		margin: 10px;
	}
}

@media (min-device-width: 769px and max-width: 1200px) {
	.list-cover-item {
		width: 127px;
		height: 127px;
		float: none;
		display: inline-block;
		margin: 10px;
	}
}

@media (min-device-width: 769px and max-width: 1000px) {
	.list-cover-item {
		width: 127px;
		height: 127px;
		float: none;
		display: inline-block;
		margin: 10px;
	}
}

@media (max-width: 769px) {

	.page-header-collection-actions {
		display: none;
	}

	.list-cover-alphabetical-index {
		position: fixed;
		right: 0;
		top: 100px;
		bottom: 0;
		width: 25px;
	}


	.list-cover-item-arrow {
		float: right;
		display: block;
		background: url('../img/sprite.png') no-repeat -120px -596px;
		background-size: 400px 900px;
		width: 25px;
		height: 60px;
	}

	.list-cover {
		padding: 0;
	}

	.list-cover :first-child {
		border-top: 1px solid #cfcfcf;
	}

	.list-cover-item {
		float: none;
		clear: both;
		width: 100%;
		height: 60px;
		padding: 0;
		margin: 0;
		border-bottom: 1px solid #cfcfcf;
		overflow: hidden;
	}

	.list-cover-item > div {
		max-width: -webkit-calc(100% - 85px);
	}

	.list-cover-item :first-child
	{
		float: left;
		padding: 0;
		border: none;
		border-right: 1px solid #cfcfcf;
		width: 60px;
	}

	.list-cover-item > :nth-child(2)
	{
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		padding: 0 25px 0 10px;
		line-height: 60px;
		float: left;
	}

	.list-cover-item :nth-child(3) {
		position: absolute;
		top: 0;
		right: 0;
		padding: 0;
	}

	/* Media page - generally contains a tracklist and some additional information
 	 * about those tracks */

	.mediaPage header {
		width: 100%;
		height: auto;
		padding: 0;
	}

	.mediaPage header ul {
		display: none;
	}

	.mediaPage .page-album-cover {
		border: none;
		float: none;
		height: auto;
		width: 100%;
	}

	.mediaPage .page-album-cover:before {
		display: block;
		content: '';
		padding-top: 100%;
	}

	.mediaPage header img {
		width: 100%;
		height: auto;
		float: none;
		clear: both;
	}

	.mediaPage .trackListContainer {
		top: 180px;
	}

	.main-albumArt > img
	{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: auto;
		-webkit-transition: opacity .2s ease-out;
		-moz-transition: opacity .15s ease-in-out;
	}

	/* TrackList */
	.list-track {
		padding: 0;
		overflow: visible;
	}

	.list-track > li {
		height: 50px;
		border-top: 1px solid #cecece;
	}

	.list-track > li:last-child
	{
		border-bottom: 1px solid #cecece;
	}

	.list-track > li > div {
		line-height: 44px;
	}

	.list-track > li > div:last-child
	{
		border-left: 1px solid #cecece;
	}

	.list-track-row {
		position: relative;
		height: 50px;
		cursor: pointer;
	}

	.list-track-row-highlight {
		height: 50px;
	}

	.list-track-row > div {
		z-index: 2;
		line-height: 50px;
	}

	.list-track-row-middle-column
	{
		border-left: 1px solid #cecece;
		padding: 0 8px 0 8px;
		height: 50px;
	}

	.list-track-row-middle-column > div:first-child {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		font-weight: 600;
		width: 100%;
	}

	.list-track-row-middle-column > div:last-child {
		display: none;
	}

	.nowPlaying
	{
		color: #1f1f1f;
	}

	.nowPlaying > div:first-child > div
	{
		margin-top: 20px;
	}

	/* random stuff */
	.main-scrollingContent {
		position: absolute;
		top: 100px;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
	}

	/* artist page */
	.page-artist-header-button {
		margin: 0;
		width: 33.3%;
	}
}

@media (min-device-width: 769px and max-width: 600px) {
	.list-cover-item {
		width: 33.3%;
	}
}
@media (min-device-width: 769px and max-width: 400px) {
	.list-cover-item {
		width: 50%;
	}
}
