@charset utf-8;

* {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* prevent tap highlight color / shadow */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    margin: 0;
    padding: 0;

}

a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
}

body {
	background: #5c6367;
	color: #666;	
	-webkit-font-smoothing:antialiased;
	-webkit-text-size-adjust:none;
    -webkit-user-select: none;
}


a,a:visited {
	text-decoration:none;
}

input:focus {
	outline: none;
}

button {
	border:0px;
	padding:0px;
	height:24px;
	width:24px;
	background-color:transparent;
	margin:-4px 0px;
	opacity:.6;
}

button:hover {
	opacity:1;
}	
	
p {
	margin-bottom:20px;
}

input.FilterSearch {
	display: inline-block;
	height: 28px;
	width: 124px;
	font-size: 13px;
	vertical-align: middle;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	margin-top: 0px;
	border: 0px #fff solid;
	-webkit-transition: all 240ms ease-in;
	background-color: #fff;
	background-image: url(../img/FilterIcon.png);
	background-position: 14px center;
	background-size: 14px;
	background-repeat: no-repeat;
	opacity:.8;
	color:#666;
	padding: 11px 0 11px 40px;
}


input.FilterSearch:focus, input.FilterSearch:hover, input.FilterSearch:active {
	border: #fff 0px solid;
	-webkit-transition:all 240ms ease-in;  
	opacity:1;
	color: #555555;
}

.dropzone-callout {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border: 2px dashed #333;
    border-radius: 7px;
    margin: 3px;
}
	
.sprite {
	background-image: url(../img/sprite.png);
	background-size: 370px;
}	
	
.DisplayNone {
	display:none !important;
}
	
.HeaderBar {
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	width:100%;
	height: 50px;
	z-index:99;
	padding: 0;

	background: rgb(220,220,220); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(220,220,220,1) 0%, rgba(178,178,178,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(220,220,220,1)), color-stop(100%,rgba(178,178,178,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(220,220,220,1) 0%,rgba(178,178,178,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(220,220,220,1) 0%,rgba(178,178,178,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(220,220,220,1) 0%,rgba(178,178,178,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(220,220,220,1) 0%,rgba(178,178,178,1) 100%); /* W3C */
}
	
.Logo {
	background-image:url(../img/logoColored.png);
	background-position:center;
	background-size:56px 16px;
	background-repeat:no-repeat;
}
	
#LogoArea {
	height: 50px;
	width: 220px;
	position: absolute;
}	


@keyframes fadeIn {
	0% { opacity: 0 }
	100% { opacity: 1 }
}

#LeftSidebarHeader {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.Sidebars {
	background-color:#bababa;
	padding: 16px 0;
	height:18px;
	text-align:center;
}

.PlaylistIcon {
	position: absolute;
	right: 0;
	padding: 14px 13px;
	cursor: pointer;
}

.PlaylistIcon > div {
	background-position: -10px -389px;
	background-repeat: no-repeat;
	height: 22px;
	width: 24px;
	opacity: .6;
}
	
.MenuIcon {
	position: absolute;
	padding: 15px 17px;
	cursor: pointer;
}
.MenuIcon div {
	background: url('../img/sprite.png') no-repeat -41px -155px;
	background-size: 315px 435px;
	width: 20px;
	height: 19px;
	background-repeat: no-repeat;
	opacity: .6;
}

.BackIcon {
	position: absolute;
	padding: 17.5px 16px;
	cursor: pointer;
}
	
.BackIcon > div {
	opacity: .6;
	background: url('../img/sprite.png') no-repeat -42px -384px;
	background-size: 315px 435px;
	width: 19px;
	height: 15px;
}

.pageTitle {
	position: absolute;
	top: 0;
	left: 60px;
	right: 60px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-weight: 700;
	color: #333;
	text-shadow: 0 1px 1px #e6e6e6;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
	
.searchBar {
	background-color: #fff;
	width: 100%;
	height: 50px;
}

.searchBar-textbox {
	position: absolute;
	left: 5px;
	right: 150px;
	height: 28px;
	font-size: 13px;
	border: none;
	color:#bebebe;
	padding: 11px 0 11px 28px;
	background-color: transparent;
	background-image: url(../img/search.png);
	background-position: 8px center;
	background-size: 17px 17px;
	background-repeat: no-repeat;
	user-select: text;
	-webkit-user-select: text;
}

.searchBar-toggle {
	float: right;
	width: 15px;
	height: 15px;
	padding: 17.5px;
	opacity: .6;
	background-position:center;
	background-size:15px auto;
	background-repeat:no-repeat;
}

.AlbumSortIcon {
	background-image:url(../img/AlbumView.png);
}
	
.DirectoryViewIcon {
	background-image:url(../img/ListView.png);
}

.FilterIcon {
	cursor: pointer;
	background-image:url(../img/filters.png);
}

/* Action sheet */

.ActionSheet {
	background-color: white;
	position: absolute;
	bottom: 0px;
	width: 100%;
	z-index: 1;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}

.ActionSheet li {
	height:50px;
	width:100%;
}

/* Sidebar Menu */
.SidebarMenu {
	position: relative;
	bottom: 0px;
	width: 220px;
	z-index: 1;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}

.SidebarMenu li {
	height:50px;
	width:220px;
}
	
#MenuIcon {
	display:block;
}
	
#MenuText {
	margin-top:18px;
	position:absolute;
	color:#1f1f1f;
	font-weight:700;
	font-size:14px;
	left:45px;
}

.titletabs {
	position: relative;
	margin-bottom: -10px;
	width:50px;
	font-weight:600;
	font-size:11px;
	text-transform:uppercase;
	left:15px;
}		
	
.SidebarIcons {
	background-repeat:no-repeat;
	background-position: 15px 50%;
	opacity:0.4;
	background-size: 25px;
	list-style-type:none;
}
	
a.Settings {
	background-position: -9px -269px;
	background-repeat: no-repeat;
	height: 25px;
	width: 24px;
	background-size: 200px;
	opacity: 0.4;
	position:absolute;
	right:10px;
	top:13px;
	overflow:hidden; 
}	

.SidebarIcons:hover {
	opacity:0.7;
	background-color:#e8e8e8;
}
	
.SidebarIconsActive {
	opacity:1  !important;
	background-color:#e8e8e8 !important;	
}

span#MenuIcon.Cloud {
	background-position: -9px -154px;
	background-repeat: no-repeat;
	height: 20px;
	width: 24px;
	float: left;
	margin: 17px 0px 0px 12px;
	opacity: 0.8;	
}
	
.offlineCloud {
	background-position: -89px -154px !important;
	opacity: 1;	
}

span#MenuIcon.Music {
	background-position: -9px -65px;
	background-repeat: no-repeat;
	height: 20px;
	width: 24px;
	float: left;
	margin: 17px 0px 0px 12px;
	opacity: 0.8;	
}

span#MenuIcon.Discover {
	background-position: -9px -417px;
	background-repeat: no-repeat;
	height: 25px;
	width: 24px;
	float: left;
	margin: 13px 0px 0px 12px;
	opacity: 0.8;	
}
	
span#MenuIcon.Folder {
	background-position: -9px -476px;
	background-repeat: no-repeat;
	height: 25px;
	width: 24px;
	float: left;
	margin: 13px 0px 0px 12px;
	opacity: 0.8;	
}

span#MenuIcon.Playlists {
	background-position: -9px -298px;
	background-repeat: no-repeat;
	height: 25px;
	width: 24px;
	float: left;
	margin: 13px 0px 0px 12px;
	opacity: 0.8;	
}

span#MenuIcon.Favorite {
	background-position: -9px -239px;
	background-repeat: no-repeat;
	height: 25px;
	width: 24px;
	float: left;
	margin: 13px 0px 0px 12px;
	opacity: 0.8;	
}

span#MenuIcon.Juke {
	background-position: -9px -332px;
	background-repeat: no-repeat;
	height: 25px;
	width: 24px;
	float: left;
	margin: 13px 0px 0px 12px;
	opacity: 0.8;	
}

span#MenuIcon.Offline {
	background-position: -9px -358px;
	background-repeat: no-repeat;
	height: 25px;
	width: 24px;
	float: left;
	margin: 15px 0px 0px 12px;
	opacity: 0.8;	
}

span#MenuIcon.Settings {
	background-position: -9px -269px;
	background-repeat: no-repeat;
	height: 25px;
	width: 24px;
	float: left;
	margin: 13px 0px 0px 12px;
	opacity: 0.8;	
}

.RepeatIcon {
	background: url('../img/sprite.png') no-repeat -74px -105px;
	background-size: 315px 435px;
	width: 21px;
	height: 19px;
}

.RepeatOneIcon {
	background: url('../img/sprite.png') no-repeat -72px -129px;
	background-size: 315px 435px;
	width: 24px;
	height: 20px;
}

.ShuffleIcon {
	background: url('../img/sprite.png') no-repeat -72px -180px;
	background-size: 315px 435px;
	width: 25px;
	height: 18px;
}

.Off {
	opacity: .4;
}

.menuStickyFooter {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 220px;
	height: 35px;
	padding: 0 10px;
	box-sizing: border-box;
	box-shadow: 0 -1px 2px #aaa;
	background-color: rgba(226, 226, 226, 1);
}

.menuStickyFooter > div {
	line-height: 38px;
	cursor: pointer;
}

.menuStickyFooter > div:first-child
{
	float: left;
}
	
.menuStickyFooter > div:first-child
{
	float: right;
}

/* SidebarMenu */	
#SidebarMenu {
	position: absolute;
	top: 50px;
	bottom: 0px;
	width: 220px;
	z-index: 1;
	overflow: auto;
}

.sidebarStickyFooter {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 260px;
	height: 45px;
	padding: 13px 16px;
	box-sizing: border-box;
	box-shadow: 0 -1px 2px #aaa;
	background-color: rgba(226, 226, 226, 1);
}

.sidebarStickyFooter > div {
	line-height: 38px;
	cursor: pointer;
}

.sidebarStickyFooter > div:first-child
{
	float: left;
}
	
.sidebarStickyFooter > div:first-child
{
	float: right;
}

#QueueScroller {
	position: absolute;
	top: 50px;
	bottom: 35px;
	width: 260px;
	z-index: 0;
	overflow-x: hidden;
	background-color: rgba(226, 226, 226, 1);
}

.QueueList {
	-webkit-user-select: none;
	border-bottom: 1px #ccc solid;
	width:100%;
	height:50px;
	color:#7d7d7d;
}
	
.QueueSongName {
	-webkit-user-select: none;
	width: 200px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 9px 0 0 10px;
	font-weight:600;
	font-size:14px;
}
	
.QueueSongBand  {
	-webkit-user-select: none;
	font-size: 12px;
	padding: 0 0 0 10px;
	font-weight: 400;
}
	
.QueueSongTime {
	-webkit-user-select: none;
	font-weight: 400;
	float: right;
	margin-top: -26px;
	font-size: 12px;
	padding: 0 10px 0 0;
}	

/* Filter List */

.FilterSidebars {
	width:100%;
	color:#fff;
	font-weight:800;
	font-size:18px;
	z-index:99;
	line-height: 50px;
	height:50px;
	text-align:center;
	background: rgb(127,127,127);
	background: -moz-linear-gradient(top,  rgba(127,127,127,1) 0%, rgba(101,101,101,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(127,127,127,1)), color-stop(100%,rgba(101,101,101,1)));
	background: -webkit-linear-gradient(top,  rgba(127,127,127,1) 0%,rgba(101,101,101,1) 100%);
	background: -o-linear-gradient(top,  rgba(127,127,127,1) 0%,rgba(101,101,101,1) 100%);
	background: -ms-linear-gradient(top,  rgba(127,127,127,1) 0%,rgba(101,101,101,1) 100%);
	background: linear-gradient(to bottom,  rgba(127,127,127,1) 0%,rgba(101,101,101,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7f7f7f', endColorstr='#656565',GradientType=0 );
}

#FilterList {
	position: absolute;
	top: 50px;
	bottom: 0px;
	right: 0;
	width: 140px;
	z-index: 1;
	overflow: scroll;
	overflow-x:hidden;
	background-color:#e8e8e8;
}

li.FilterTitle {
	padding: 0px;
	font-weight:600;
	font-size:11px;
	width:120px;
	color:#fff;
	padding: 0px 10px 4px 10px !important;
	height:20px;
	background-color:#656565;	
	opacity:1 !important;
}
	
li.FilterTitle:hover {
	background-color: #656565 !important;
}	
	
ul#Filters a {
	font-size: 13px;
	color: #1f1f1f;
	font-weight:600;
}

ul#Filters .Icons a {
	padding: 0 0 0 30px;
}
	
ul#Filters li {
	padding: 17px 10px 17px 10px;
	height:15px;
	white-space:nowrap;
	width:120px;
	opacity:0.4;
}
	
ul#Filters li:hover,ul#Filters li:active , .current {
	opacity: 0.9 !important;
	background-color:#e8e8e8;	
}

@media only screen and (orientation: portrait) and (orientation: landscape) { 
	ul#Filters li:hover {
		opacity: 0.9 !important;
		background-color:#dadada !;	
	}	
}	
	
	
.FilterKeyword {
	background-color:#fff !important;
	opacity:.7 !important;
	padding:0 !important;
	height:50px !important;
	width:160px !important;
	overflow:hidden !important;
	overflow-x:hidden !important;	
}
	
.FilterKeyword input {
	width:100px !important;
}

li.current {
	background-color:#e8e8e8 !important;		
}

.current a {
	color:#333 !important;
	opacity:1 !important;
}
	
ul#Filters:first-child {
	padding:0px 0;
}	
	
ul#Filters {
	padding:0px 0 0 0;
	background-color:#e8e8e8;
	width:140px;
	overflow:hidden;
}
	
ul#Filters .MusicIcons {
	background-image:url(../img/MusicIcon.png);
	background-repeat:no-repeat;
	background-size:19px;
	background-position:10px 17px;
}
	
ul#Filters .ArtistsIcons {
	background-image:url(../img/ArtistsIcon.png);
	background-repeat:no-repeat;
	background-size:19px;
	background-position:10px 21px;
}

.AlbumsIcons {
	float: left;
	background: url('../img/sprite.png') no-repeat -12px -206.66px;
	background-repeat: no-repeat;
	background-size: 420px 580px;
	margin-top: 12px;
	margin-left: 13px;
	width: 25.33px;
	height: 26px;
}
	
ul#Filters .MoreIcon {
	background-image:url(../img/MoreIcon.png);
	background-repeat:no-repeat;
	background-size:19px;
	background-position:10px 24px;
}	
	
ul#Filters .GenresIcon {
	background-image:url(../img/GenresIcon.png);
	background-repeat:no-repeat;
	background-size:19px;
	background-position:10px 17px;
}
	
ul#Filters .ComposerIcon {
	background-image:url(../img/ComposerIcon.png);
	background-repeat:no-repeat;
	background-size:30px;
	background-position:5px 17px;
}	
	
ul#Filters .FolderIcon {
	background-image:url(../img/FolderIcon.png);
	background-repeat:no-repeat;
	background-size:19px;
	background-position:10px 19px;
}				
	
.Stars {
	background-image:url(../img/StarIcon.png);
	background-size:24px;
	margin-top:-18px;
	height:14px;
}
	
.FiveStars {
	width:115px;
}	
	
.FourStars {
	width:92px;
}	

.ThreeStars {
	width:69px;
}			
	
.TwoStars {
	width:46px;
}		
	
.OneStars {
	width:23px;
}	
	
#MiniPlayer {
	position: absolute;
	background-color: rgba(226, 226, 226, 1);
	height: 50px;
	width: 100%;
	z-index: 999;
	top: 0px;
 
	/** The Wrong Colors **/
	border-top-width:0px;
	border-left:0px !important;
	border-right:0px !important;

	-webkit-box-shadow: 0 0 4px rgba(0,0,0,.3);
	-moz-box-shadow: 0 0 4px rgba(0,0,0,.3);
	box-shadow: 0 0 4px rgba(0,0,0,.3);
}

.dropshadow {
	text-shadow: 0px 1px 1px #ffffff;
    filter: dropshadow(color=#ffffff, offx=0, offy=1);
}
	
#PlayBtn {
	height: 50px;
	width: 50px;
	background-repeat:no-repeat;
	background-size:13px auto;
	background-position:center;
	position:absolute;
	left:0px;
}

#MiniPlayer .Play {
	background: url('../img/sprite.png') no-repeat -45px -258px;
	background-size: 315px 435px;
	width: 13px;
	height: 15px; 
	margin: 17px 20px;
	opacity: .6;
}

#MiniPlayer .Pause {
	background: url('../img/sprite.png') no-repeat -44px -409px;
	background-size: 315px 435px;
	width: 14px;
	height: 15px;
	margin: 17px 20px;
	opacity: .6;
}

#FullScreenBtn {
	height: 50px;
	width: 50px;
	background-repeat:no-repeat;
	background-size:18px auto;
	background-position:center;
	background-image:url(../img/Player/FullScreenBtn.png);
	position: relative;
	left: 210px;	
}

.playlistDragOver {
	border-top: 1px solid blue;
	border-bottom: 1px solid blue;
}
	
.PlayerDisplay {
	height: 50px;
	width:232px;
	position:absolute;
	left: 50px;
}

.PlayerDisplayDropShadow {
	background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0.5)));
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 100%);
	background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 100%);
	background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 100%);
	background: radial-gradient(ellipse at center,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#80ffffff',GradientType=1 );
}

.PlayerDisplayAlbum {
	height: 32px;
	width: 32px;
	background-image: url(../img/Player/PlayerDisplayAlbum.png);
	background-size: cover;
	float: left;
	margin-right: 6.5px;
	display:none;
}
	
.PlayerDisplayContainer {
	margin: 6.5px;
}

.PlayerDisplayText {
	font-size: 12px;
	float: left;
	line-height: 25px;
	position: absolute;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.PlayerDisplaySongTitle {
	max-width: 120px;
	font-weight: 600;
	color: #333333;
	top: 2px;
}

.PlayerDisplayArtist {
	max-width: 120px;
	font-weight:400;
	color:#6e6e6e;
	bottom:4px;
}
	
.PlayerDisplaySongTime {
	font-weight: 400;
	color:#6e6e6e;
	right:6.5px;
	bottom: 4px;
}

.PlayerDisplaySongTimeLeft {
	color:#6e6e6e;
	top:2px;
	right:6.5px;
}

.PlayMarker {
	height: 50px;
	width:5px;
	background: rgb(255,119,67);
	background: -moz-linear-gradient(left,  rgba(255,119,67,1) 50%, rgba(255,83,33,1) 51%);
	background: -webkit-gradient(linear, left top, right top, color-stop(50%,rgba(255,119,67,1)), color-stop(51%,rgba(255,83,33,1)));
	background: -webkit-linear-gradient(left,  rgba(255,119,67,1) 50%,rgba(255,83,33,1) 51%);
	background: -o-linear-gradient(left,  rgba(255,119,67,1) 50%,rgba(255,83,33,1) 51%);
	background: -ms-linear-gradient(left,  rgba(255,119,67,1) 50%,rgba(255,83,33,1) 51%);
	background: linear-gradient(to right,  rgba(255,119,67,1) 50%,rgba(255,83,33,1) 51%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7743', endColorstr='#ff5321',GradientType=1 );
	position:absolute;
	bottom:0px;
	left: 0;
}

.FilterTitle {
	color: #1f1f1f;
	width:55px;
}

* nav */
.nav {
	position: relative;
	margin: 0px 0px;
	z-index:700;
	color: #757575;
	font-weight: 600;
	font-size: 14px;
	padding-top:15px;
	overflow:hidden;2
}

#Filters {
	margin-right:25px;
}

#main > div
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

/* viewstack */
.viewstack-animate
{
	-webkit-transition: -webkit-transform .3s ease-in-out;
}

.viewstack-onscreen
{
	-webkit-transform: translateX(0) !important;
}

.viewstack-offscreen-left
{
	-webkit-transform: translateX(-100%);
}

.viewstack-offscreen-right
{
	-webkit-transform: translateX(100%);
}
