<!doctype html>
<!--<html manifest="cache.manifest">-->
    <!-- The Future! <html lang="en" manifest="cache.appcache"> -->
    <html lang="en">
				<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>        
        <head>
            <title>Wave</title>
            <!-- standard viewport tag to set the viewport to the device's width , Android 2.3 devices need this so 100% width works properly and doesn't allow children to blow up the viewport width-->
            <meta name="apple-mobile-web-app-title" content="Wave">
            <meta name="viewport" content="user-scalable=0, initial-scale=1.0">
            <meta name="apple-mobile-web-app-capable" content="yes" />
            <!-- iPhone -->
            <link rel="apple-touch-icon-precomposed" sizes="57x57" href="img/iOS/57.png">
            <link href="img/iOS/iPhone.png" media="(device-width: 320px) and (device-height: 480px)
         and (-webkit-device-pixel-ratio: 1)" rel="apple-touch-startup-image">
            <!-- iPhone (Retina) -->
            <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/iOS/72.png">
            <link href="img/iOS/iPhoneRetina.png" media="(device-width: 320px) and (device-height: 480px)
         and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
            <!-- iPhone 5 -->
            <link href="img/iOS/iPhone5.png" media="(device-width: 320px) and (device-height: 568px)
         and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
            <!-- iPad -->
            <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/iOS/114.png">
            <link href="img/iOS/iPadPortrait.png" media="(device-width: 768px) and (device-height: 1024px)
         and (orientation: portrait)
         and (-webkit-device-pixel-ratio: 1)" rel="apple-touch-startup-image">
            <link href="img/iOS/iPadLandscape.png" media="(device-width: 768px) and (device-height: 1024px)
         and (orientation: landscape)
         and (-webkit-device-pixel-ratio: 1)" rel="apple-touch-startup-image">
            <!-- iPad (Retina) -->
            <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/iOS/144.png">
            <link href="img/iOS/iPadPortraitRetina.png" media="(device-width: 768px) and (device-height: 1024px)
         and (orientation: portrait)
         and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
            <link href="img/iOS/iPadLandscapeRetina.png" media="(device-width: 768px) and (device-height: 1024px)
         and (orientation: landscape)
         and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
            <!--[if lt IE 9]>
                <script src="http://css3-mediaqueries-js.googlecode.com/files/css3-mediaqueries.js"></script>
                <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <![endif]-->
            <link rel="stylesheet" type="text/css" href="css/style.css" />
            <link rel="stylesheet" type="text/css" href="css/framework.css" />
			<link rel="stylesheet" type="text/css" href="css/AlbumStyles.css" />
			<link rel="stylesheet" type="text/css" href="css/AlbumListingViewStyles.css" />

            <!-- Cuz Kickass --><link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<title>WaveBox</title>
</head>

<body>
	<div id="left">
		<div id="leftContent" class='scrollContent'>
			<div id="HeaderBar" class="Sidebars">
				<div id="LogoArea" class=" "></div>
			</div>
	        <div id="SidebarMenu" class='scrollAnchor'></div>
		</div>
	</div>
	
	<div id="right">
		<div id="rightContent" class='scrollContent'>
	        <div id="QueueScroller" class="scroll">
	            <div class="QueueList">
	                <div class="QueueSongName">Song 1</div>
	                <div class="QueueSongBand">Band 1</div>
	                <div class="QueueSongTime">3:21 1</div>
	            </div>
	            <div class="QueueList">
	                <div class="QueueSongName">Song</div>
	                <div class="QueueSongBand">Band</div>
	                <div class="QueueSongTime">3:21</div>
	            </div>
	            <div class="QueueList">
	                <div class="QueueSongName">Song</div>
	                <div class="QueueSongBand">Band</div>
	                <div class="QueueSongTime">3:21</div>
	            </div>
	            <div class="QueueList">
	                <div class="QueueSongName">Song</div>
	                <div class="QueueSongBand">Band</div>
	                <div class="QueueSongTime">3:21</div>
	            </div>
	            <div class="QueueList">
	                <div class="QueueSongName">Song</div>
	                <div class="QueueSongBand">Band</div>
	                <div class="QueueSongTime">3:21</div>
	            </div>
	            <div class="QueueList">
	                <div class="QueueSongName">Song</div>
	                <div class="QueueSongBand">Band</div>
	                <div class="QueueSongTime">3:21</div>
	            </div>
	            <div class="QueueList">
	                <div class="QueueSongName">Song</div>
	                <div class="QueueSongBand">Band</div>
	                <div class="QueueSongTime">3:21</div>
	            </div>
	            <div class="QueueList">
	                <div class="QueueSongName">Song</div>
	                <div class="QueueSongBand">Band</div>
	                <div class="QueueSongTime">3:21</div>
	            </div>
	            <div class="QueueList">
	                <div class="QueueSongName">Song</div>
	                <div class="QueueSongBand">Band</div>
	                <div class="QueueSongTime">3:21</div>
	            </div>
	            <div class="QueueList">
	                <div class="QueueSongName">Song</div>
	                <div class="QueueSongBand">Band</div>
	                <div class="QueueSongTime">3:21</div>
	            </div>
	            <div class="QueueList">
	                <div class="QueueSongName">Song</div>
	                <div class="QueueSongBand">Band</div>
	                <div class="QueueSongTime">3:21</div>
	            </div>
	            <div class="QueueList">
	                <div class="QueueSongName">Song</div>
	                <div class="QueueSongBand">Band</div>
	                <div class="QueueSongTime">3:21</div>
	            </div>
	            <div class="QueueList">
	                <div class="QueueSongName">Song</div>
	                <div class="QueueSongBand">Band</div>
	                <div class="QueueSongTime">3:21</div>
	            </div>
	            <div class="QueueList">
	                <div class="QueueSongName">Song</div>
	                <div class="QueueSongBand">Band</div>
	                <div class="QueueSongTime">3:21</div>
	            </div>
	            <div class="QueueList">
	                <div class="QueueSongName">Song</div>
	                <div class="QueueSongBand">Band</div>
	                <div class="QueueSongTime">3:21</div>
	            </div>
	            <div class="QueueList">
	                <div class="QueueSongName">Song</div>
	                <div class="QueueSongBand">Band</div>
	                <div class="QueueSongTime">3:21</div>
	            </div>
	            <div class="QueueList">
	                <div class="QueueSongName">Song</div>
	                <div class="QueueSongBand">Band</div>
	                <div class="QueueSongTime">3:21</div>
	            </div>
	            <div class="QueueList">
	                <div class="QueueSongName">Song</div>
	                <div class="QueueSongBand">Band</div>
	                <div class="QueueSongTime">3:21</div>
	            </div>
	            <div class="QueueList">
	                <div class="QueueSongName">Song</div>
	                <div class="QueueSongBand">Band</div>
	                <div class="QueueSongTime">3:21</div>
	            </div>
	            <div class="QueueList">
	                <div class="QueueSongName">Song</div>
	                <div class="QueueSongBand">Band</div>
	                <div class="QueueSongTime">3:21</div>
	            </div>
	            <div class="QueueList">
	                <div class="QueueSongName">Song</div>
	                <div class="QueueSongBand">Band</div>
	                <div class="QueueSongTime">3:21</div>
	            </div>
	            <div class="QueueList">
	                <div class="QueueSongName">Song</div>
	                <div class="QueueSongBand">Band</div>
	                <div class="QueueSongTime">3:21</div>
	            </div>
	            <div class="QueueList">
	                <div class="QueueSongName">Song</div>
	                <div class="QueueSongBand">Band</div>
	                <div class="QueueSongTime">3:21</div>
	            </div>
	            <div class="QueueList">
	                <div class="QueueSongName">Song</div>
	                <div class="QueueSongBand">Band</div>
	                <div class="QueueSongTime">3:21</div>
	            </div>
	            <div class="QueueList">
	                <div class="QueueSongName">Song</div>
	                <div class="QueueSongBand">Band</div>
	                <div class="QueueSongTime">3:21</div>
	            </div>
	            <div class="QueueList">
	                <div class="QueueSongName">Song</div>
	                <div class="QueueSongBand">Band</div>
	                <div class="QueueSongTime">3:21</div>
	            </div>
	            <div class="QueueList">
	                <div class="QueueSongName">Song</div>
	                <div class="QueueSongBand">Band</div>
	                <div class="QueueSongTime">3:21</div>
	            </div>
	            <div class="QueueList">
	                <div class="QueueSongName">Song</div>
	                <div class="QueueSongBand">Band</div>
	                <div class="QueueSongTime">3:21</div>
	            </div>
	            <div class="QueueList">
	                <div class="QueueSongName">Song</div>
	                <div class="QueueSongBand">Band</div>
	                <div class="QueueSongTime">3:21</div>
	            </div>
	            <div class="QueueList">
	                <div class="QueueSongName">Song</div>
	                <div class="QueueSongBand">Band</div>
	                <div class="QueueSongTime">3:21</div>
	            </div>
	        </div>
	        </div>
	        <div id="MiniPlayer" class="animate MiniPlayerRightMargins">
            <div id="PlayBtn" class="Pause dropshadow"></div>
	            <div class="PlayerDisplayDropShadow PlayerDisplay" style="width: 160px;">
	                <div class="PlayerDisplayContainer">
	                    <!-- Container Area -->
	                    <div class="PlayerDisplayAlbum"></div>
	                    <div class="PlayerDisplayText PlayerDisplaySongTitle dropshadow">What you wanted</div>
	                    <div class="PlayerDisplayText PlayerDisplayArtist dropshadow">OneRepublic</div>
	                    <div class="PlayerDisplayText PlayerDisplaySongTime dropshadow">0:34</div>
	                    <div class="PlayerDisplayText PlayerDisplaySongTimeLeft dropshadow">3:45</div>
	                    <div class="PlayMarker"></div>
	                </div>
	                <!-- Container Area Ends-->
	            </div>
	            <div id="FullScreenBtn" class="dropshadow"></div>
	        </div>
		</div>
	</div>
	
	<div id='filter' class='scroll hidden'>
	<div id="FilterHeaderBar" class="FilterSidebars">Filters</div>
		<div id="FilterList">
	            <ul id="Filters">
	            <li class="FilterKeyword">
	                <form class="form-search">
	                    <input type="text" class="FilterSearch" placeholder="Keywords">
	                </form>
	            </li>
	            <li class="FilterSideBar FilterTitle">Browse</li>
	            <li class="FilterSideBar Icons MusicIcons"><a href="#">Songs</a></li>
	            <li class="FilterSideBar Icons ArtistsIcons"><a href="#">Artists</a></li>
	            <li class="FilterSideBar current Icons AlbumsIcons"><a href="#">Albums</a></li>
	            <li id="HideBrowseOptions" class=" Icons MoreIcon"><a href="#">More!</a></li>
	            <li class="FilterSideBar HideBrowseOptions animate DisplayNone Icons GenresIcon"><a href="#">Genres</a></li>
	            <li class="FilterSideBar HideBrowseOptions animate DisplayNone Icons ComposerIcon"><a href="#">Composers</a></li>
	            <li class="FilterSideBar HideBrowseOptions animate DisplayNone Icons FolderIcon"><a href="#">Folders</a></li>
	            </ul>
	            <ul id="Filters">
	            <li class="FilterTitle">Order</li>
	            <li class="FilterSideBar"><a href="#">Alphabetical</a></li>
	            <li class="FilterSideBar"><a href="#">New Arrivals</a></li>
	            <li class="current FilterSideBar"><a href="#">Most Popular</a></li>
	            <li class="FilterSideBar"><a href="#">Recently Released</a></li>
	            </ul>
	            <ul id="Filters">
	            <li class="FilterTitle">Rating</li>
	            <li class="current FilterSideBar">
	                <a href="#">
	                    <div class="Stars FiveStars"></div>
	                </a>
	            </li>
	            <li class="FilterSideBar">
	                <a href="#">
	                    <div class="Stars FourStars"></div>
	                </a>
	            </li>
	            <li class="FilterSideBar">
	                <a href="#">
	                    <div class="Stars ThreeStars"></div>
	                </a>
	            </li>
	            <li class="FilterSideBar">
	                <a href="#">
	                    <div class="Stars TwoStars"></div>
	                </a>
	            </li>
	            <li class="FilterSideBar">
	                <a href="#">
	                    <div class="Stars OneStars"></div>
	                </a>
	            </li>
	            <li class="FilterSideBar"><a href="#">No Rating</a></li>
	            </ul>
	        </div>
		</div>
	</div>
	
	<div id="main"></div>
	<div id="jPlayer"></div>
	
	<script type='text/template' id='template-album_container'>
	<li class="AlbumContainer">
	    <a class="AlbumContainerLink" href="#"> 
	        <span class="AlbumArtwork" style="background-image:url(art/1.jpg)">
	            <div class="AlbumInfo">
	                <div class="Glossed"></div>
	                <div class="TrackCount"><%= trackCount %><span>Tracks</span></div>
	            </div>
	        </span>
	        <div class="ArtistLinks"> 
	            <span class="AlbumTitle"><%= albumName %></span>
	            <span class="ArtistName"><%= artistName %></span>
	        </div>
	    </a>
	</li>
	</script>
	
	<script type='text/template' id='template-artist_container'>
	<div class="imgWrapper">
	    <img src="img/BlankAlbum.png" class="overlay">
	</div>
	<div class="imgText">
	    <p><%= itemTitle %></p>
	</div>
	</script>
	
	<script type='text/template' id='template-sideBarItem'>
	<a href="<%= href %>">
		<li class="SidebarIcons">
			<span id="MenuIcon" class="<%= itemClass %>"></span>
			<span id="MenuText"><%= itemTitle %></span>
	    </li>
	</a>
	</script>
	
	<script type='text/template' id='template-album_listing'>
		<div class="albumListing">
			<div class="albumListingSidebar">
				<img class='albumListingSidebarArt' src='<%= artUrl %>' alt="Album Art" />
				<ul class="albumRelatedContentLinks">
					<li class="albumListingSidebar-title"><%= albumName %></li>
					<li class="albumListingSidebar-item"><%= artistName %>></li>
					<li class="albumListingSidebar-item">Album</li>
					<li class="albumListingSidebar-item">Related Artists</li>
				</ul>
				<ul class="albumRecordLabelInfo">
					<li><%= trackCount %> tracks. Length: <%= totalDuration %></li>
					<li>Released: September 24, 2012</li>
				</ul>
			</div>
			<div class="stickyHeader">
				<div>#</div>
				<div>Time</div>
				<div class="albumTableMiddleColumn">
					<div>Name</div>
					<div>Artist</div>
				</div>
			</div>
		</div>
	</script>

	<script id="template-artistAlbum_listView" type="text/template">
		<img class='main-albumArt' src="<%= artUrl %>"> 
		<div class="stickyHeader">
			<div>#</div>
			<div>Time</div>
			<div class="albumTableMiddleColumn">
				<div>Name</div>
				<div>Artist</div>
			</div>
		</div>
	</script>

	<script type="text/template" id="template-artistAlbumItem">
		<div><%= trackNumber %></div>
		<div class="albumTableMiddleColumn">
			<div><%= songName %></div>
			<div><%= artistName %></div>
		</div>
		<div><%= duration %></div>
	</script>

	<script type="text/template" id="template-pageView">
		<div class="CenterBar HeaderBar">
			<a href="#" class="leftPanelToggle <%= leftAccessory %> sprite"></a>
			<a href="#" class="rightPanelToggle <%= rightAccessory %> sprite"></a>
			<span class="pageTitle"><%= pageTitle %></span>
		</div>
		<div class="searchBar">
			<input type="text" class="searchBar-textbox" placeholder="Search" />	
			<a class="searchBar-toggle FilterIcon filterPanelToggle"></a>
			<a class="searchBar-toggle DirectoryViewIcon"></a>
			<a class="searchBar-toggle AlbumSortIcon"></a>
		</div>
	</script>
	
	<script type="text/javascript" src="script/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="script/underscore-min.js"></script>
	<script type="text/javascript" src="script/backbone-min.js"></script>
	<script type="text/javascript" src="script/jquery.jplayer.min.js"></script>
	<script type="text/javascript" src="script/offline.js"></script>
	<script type="text/javascript" src="script/wbTranslate.js"></script>
	<script type="text/javascript" src="script/wavebox.js"></script>
	
</body>
</html>

