@charset "UTF-8";

#FullAlbum {
    display: none;
    position: absolute;
    background-color: #d1d1d1;
    z-index: 999;
    width: 638px;
    height: 616px;
    left: 50%;
    bottom: 50%;
    margin-left: -319px;
    margin-bottom: -308px;
}

#AlbumView {
    position: relative;
    height: 100%;
    width: 100%;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
}


#AlbumView:after {
    /** content: "."; **/
	content: "";    
	display: block;
    clear: both;
    visibility: hidden;
}

.AlbumViewContent:after {
    content: "." !important;
}


#AlbumView .AlbumContainer {
    display: block;
    position: relative;
    float: left;
    overflow: hidden;
    width: 230px;
    max-width: 230px;
}

    #AlbumView .AlbumContainer .AlbumContainerLink, #AlbumView .AlbumContainer .AlbumTitle, .ArtistName {
        display: block;
        text-decoration: none;
        color: #666;
        margin: 15px 15px 5px 15px;
        position: relative;
    }

    #AlbumView .AlbumContainer .AlbumTitle, .ArtistName {
        display: block;
        margin: 0px;
    }

    #AlbumView .AlbumContainer .AlbumArtwork {
        display: block;
        text-align: center;
        padding-top: 100%;
        width: 100%;
        height: auto;
        border: 1px #545454 solid;
    }

.AlbumArtwork {
    background-image: url(../img/BlankAlbum.png);
    background-size: cover;
    overflow: hidden;
}

.AlbumInfo{
	position:absolute;
    top: 0px;
    left: 0;
    bottom: 0px !important;
    right: -2px;
	overflow:hidden;
	}
	
.Glossed{
	position:absolute;
    top: 0px;
    left: 0;
    bottom: 0px !important;
    right: -2px;
	overflow:hidden;
	background: -moz-linear-gradient(-45deg,  rgba(188,188,188,0) 0%, rgba(117,117,117,0.1) 50%, rgba(10,14,10,0.1) 51%, rgba(10,8,9,0.19) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(188,188,188,0)), color-stop(50%,rgba(117,117,117,0.1)), color-stop(51%,rgba(10,14,10,0.1)), color-stop(100%,rgba(10,8,9,0.19))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgba(188,188,188,0) 0%,rgba(117,117,117,0.1) 50%,rgba(10,14,10,0.1) 51%,rgba(10,8,9,0.19) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgba(188,188,188,0) 0%,rgba(117,117,117,0.1) 50%,rgba(10,14,10,0.1) 51%,rgba(10,8,9,0.19) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  rgba(188,188,188,0) 0%,rgba(117,117,117,0.1) 50%,rgba(10,14,10,0.1) 51%,rgba(10,8,9,0.19) 100%); /* IE10+ */
	background: linear-gradient(135deg,  rgba(188,188,188,0) 0%,rgba(117,117,117,0.1) 50%,rgba(10,14,10,0.1) 51%,rgba(10,8,9,0.19) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bcbcbc', endColorstr='#300a0809',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	height: 250%;
	width: 250%;
	margin: -75%;	
	-webkit-transition:all 100ms linear;  
	}	
	
.TrackCount{
	font-size:11px;
	font-weight:600;
	color:#FFF;
	margin-right:5px;
	position:absolute;
	right:0px;
	bottom:0px;
	text-shadow: 0px 1px 2px #000;
	opacity:0;
	
	}

.TrackCount span{
	font-weight:500;
	}	

.AlbumQuickView {
    position: absolute;

    background: -moz-linear-gradient(-45deg,  rgba(76,76,76,0.5) 0%, rgba(89,89,89,0.53) 12%, rgba(102,102,102,0.56) 25%, rgba(71,71,71,0.6) 39%, rgba(44,44,44,0.63) 50%, rgba(0,0,0,0.63) 51%, rgba(17,17,17,0.65) 60%, rgba(43,43,43,0.69) 76%, rgba(28,28,28,0.73) 91%, rgba(19,19,19,0.75) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(76,76,76,0.5)), color-stop(12%,rgba(89,89,89,0.53)), color-stop(25%,rgba(102,102,102,0.56)), color-stop(39%,rgba(71,71,71,0.6)), color-stop(50%,rgba(44,44,44,0.63)), color-stop(51%,rgba(0,0,0,0.63)), color-stop(60%,rgba(17,17,17,0.65)), color-stop(76%,rgba(43,43,43,0.69)), color-stop(91%,rgba(28,28,28,0.73)), color-stop(100%,rgba(19,19,19,0.75))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgba(76,76,76,0.5) 0%,rgba(89,89,89,0.53) 12%,rgba(102,102,102,0.56) 25%,rgba(71,71,71,0.6) 39%,rgba(44,44,44,0.63) 50%,rgba(0,0,0,0.63) 51%,rgba(17,17,17,0.65) 60%,rgba(43,43,43,0.69) 76%,rgba(28,28,28,0.73) 91%,rgba(19,19,19,0.75) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  rgba(76,76,76,0.5) 0%,rgba(89,89,89,0.53) 12%,rgba(102,102,102,0.56) 25%,rgba(71,71,71,0.6) 39%,rgba(44,44,44,0.63) 50%,rgba(0,0,0,0.63) 51%,rgba(17,17,17,0.65) 60%,rgba(43,43,43,0.69) 76%,rgba(28,28,28,0.73) 91%,rgba(19,19,19,0.75) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  rgba(76,76,76,0.5) 0%,rgba(89,89,89,0.53) 12%,rgba(102,102,102,0.56) 25%,rgba(71,71,71,0.6) 39%,rgba(44,44,44,0.63) 50%,rgba(0,0,0,0.63) 51%,rgba(17,17,17,0.65) 60%,rgba(43,43,43,0.69) 76%,rgba(28,28,28,0.73) 91%,rgba(19,19,19,0.75) 100%); /* IE10+ */
    background: linear-gradient(135deg,  rgba(76,76,76,0.5) 0%,rgba(89,89,89,0.53) 12%,rgba(102,102,102,0.56) 25%,rgba(71,71,71,0.6) 39%,rgba(44,44,44,0.63) 50%,rgba(0,0,0,0.63) 51%,rgba(17,17,17,0.65) 60%,rgba(43,43,43,0.69) 76%,rgba(28,28,28,0.73) 91%,rgba(19,19,19,0.75) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#804c4c4c', endColorstr='#bf131313',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    top: 0;
    left: 0;
    bottom: 42px;
    right: -2px;
    border: 1px solid gray;
    opacity: 0;
   -webkit-transition:opacity 200ms ease-in;  
   -moz-transition:opacity 200ms ease-in;  
   -o-transition:opacity 200ms ease-in;  
   transition:opacity 200ms ease-in; 
}

.AlbumQuickView:hover {
    background: -moz-linear-gradient(-45deg,  rgba(76,76,76,0.5) 0%, rgba(89,89,89,0.53) 12%, rgba(102,102,102,0.56) 25%, rgba(71,71,71,0.6) 39%, rgba(44,44,44,0.63) 50%, rgba(0,0,0,0.63) 51%, rgba(17,17,17,0.65) 60%, rgba(43,43,43,0.69) 76%, rgba(28,28,28,0.73) 91%, rgba(19,19,19,0.75) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(76,76,76,0.5)), color-stop(12%,rgba(89,89,89,0.53)), color-stop(25%,rgba(102,102,102,0.56)), color-stop(39%,rgba(71,71,71,0.6)), color-stop(50%,rgba(44,44,44,0.63)), color-stop(51%,rgba(0,0,0,0.63)), color-stop(60%,rgba(17,17,17,0.65)), color-stop(76%,rgba(43,43,43,0.69)), color-stop(91%,rgba(28,28,28,0.73)), color-stop(100%,rgba(19,19,19,0.75))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgba(76,76,76,0.5) 0%,rgba(89,89,89,0.53) 12%,rgba(102,102,102,0.56) 25%,rgba(71,71,71,0.6) 39%,rgba(44,44,44,0.63) 50%,rgba(0,0,0,0.63) 51%,rgba(17,17,17,0.65) 60%,rgba(43,43,43,0.69) 76%,rgba(28,28,28,0.73) 91%,rgba(19,19,19,0.75) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  rgba(76,76,76,0.5) 0%,rgba(89,89,89,0.53) 12%,rgba(102,102,102,0.56) 25%,rgba(71,71,71,0.6) 39%,rgba(44,44,44,0.63) 50%,rgba(0,0,0,0.63) 51%,rgba(17,17,17,0.65) 60%,rgba(43,43,43,0.69) 76%,rgba(28,28,28,0.73) 91%,rgba(19,19,19,0.75) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  rgba(76,76,76,0.5) 0%,rgba(89,89,89,0.53) 12%,rgba(102,102,102,0.56) 25%,rgba(71,71,71,0.6) 39%,rgba(44,44,44,0.63) 50%,rgba(0,0,0,0.63) 51%,rgba(17,17,17,0.65) 60%,rgba(43,43,43,0.69) 76%,rgba(28,28,28,0.73) 91%,rgba(19,19,19,0.75) 100%); /* IE10+ */
    background: linear-gradient(135deg,  rgba(76,76,76,0.5) 0%,rgba(89,89,89,0.53) 12%,rgba(102,102,102,0.56) 25%,rgba(71,71,71,0.6) 39%,rgba(44,44,44,0.63) 50%,rgba(0,0,0,0.63) 51%,rgba(17,17,17,0.65) 60%,rgba(43,43,43,0.69) 76%,rgba(28,28,28,0.73) 91%,rgba(19,19,19,0.75) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#804c4c4c', endColorstr='#bf131313',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    opacity: 1;
	-webkit-transition:opacity 200ms ease-in;  
   -moz-transition:opacity 200ms ease-in;  
   -o-transition:opacity 200ms ease-in;  
   transition:opacity 200ms ease-in; 
}

.NumberOfTrack {
    font-size: 46px;
    font-weight: 600;
    margin-top: 35%;
    color: #ffffff;
	text-shadow: 0px 2px 0px #000;
	

}

.LabelofTracks {
    font-size: 12px;
    margin-top: 10%;
    font-weight: 600;
	letter-spacing:1px;
    color: #ffffff;
	text-shadow: 0px 2px 0px #000;
}

.CurrentlyPlaying{
background: -moz-radial-gradient(center, ellipse cover,  rgba(69,72,77,0.5) 0%, rgba(0,0,0,0.75) 100%); /* FF3.6+ */

background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(69,72,77,0.5)), color-stop(100%,rgba(0,0,0,0.75))); /* Chrome,Safari4+ */

background: -webkit-radial-gradient(center, ellipse cover,  rgba(69,72,77,0.5) 0%,rgba(0,0,0,0.75) 100%); /* Chrome10+,Safari5.1+ */

background: -o-radial-gradient(center, ellipse cover,  rgba(69,72,77,0.5) 0%,rgba(0,0,0,0.75) 100%); /* Opera 12+ */

background: -ms-radial-gradient(center, ellipse cover,  rgba(69,72,77,0.5) 0%,rgba(0,0,0,0.75) 100%); /* IE10+ */

background: radial-gradient(ellipse at center,  rgba(69,72,77,0.5) 0%,rgba(0,0,0,0.75) 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8045484d', endColorstr='#bf000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	top: 0;
    left: 0;
    bottom: 42px;
    right: -2px;
    border: 1px solid gray;
	position:absolute;
	}

	#ContentWindow{ }
	#contentWrapper{top:100px;}	

@media (max-width: 2560px) { 
	#AlbumView .AlbumContainer { width: 8.333% }
	#AlbumView { max-width: 2560px }
	.ContentWindowArtist{padding-top:327px !important;}	
	.contentWrapperArtist{top: 377px !important;}	
	
}



@media (max-width: 1970px) { 
	#AlbumView .AlbumContainer { width: 12.5% }
	#AlbumView { max-width: 1970px }
}

@media (max-width: 1640px) { 
	#AlbumView .AlbumContainer { width: 14.28% }

	#AlbumView { max-width: 1640px }
}

@media (max-width: 1420px) { 
	#AlbumView .AlbumContainer { width: 16.66% }

	#AlbumView { max-width: 1420px }
}

@media (max-width: 1200px) { 
	#AlbumView .AlbumContainer { width: 20% }

	#AlbumView { max-width: 1200px }
}

@media (max-width: 960px) { 
	#AlbumView .AlbumContainer { width: 20% }

	#AlbumView { max-width: 960px }
}

@media (max-width: 720px) { 
	#AlbumView .AlbumContainer { width: 25% }
	#AlbumView { max-width: 720px }
}

@media (max-width: 479px) { 
	#AlbumView .AlbumContainer { width: 50% }
	#AlbumView { max-width: 479px }
	#FullAlbum {
	    width: 300px;
	    height: 400px;
	    left: 50%;
	    margin-left: -150px;
	    bottom: 50%;
	    margin-bottom: 50px;
	}
	.ContentWindowArtist{padding-top:127px; }	
	.contentWrapperArtist{top: 177px;}	
}

@media (max-width: 440px) { 
	#AlbumView { min-height: 0 }
	#AlbumView .AlbumContainer {width: 50%;max-width: 210px;}
	#AlbumView .AlbumContainer .AlbumTitle, .ArtistName {margin: 5px;}
	#AlbumView { max-width: 440px;}
	.AlbumQuickView { bottom: 52px }
	.AlbumInfo{bottom: 52px;}

}

@media only screen and (min-device-width: 320px) { 
	/* iPhone 5 CSS styles  */
	#AlbumView { min-width: 320px;background-color:#e8e8e8;}	 
}



@media (max-width: 310px) { 
	#AlbumView { padding: 5px }
	#AlbumView { max-width: 310px }
}

@media only screen and (max-width: 360px) { 
	#AlbumView { max-width: 360px }
}

@media only screen and (max-width: 225px) { 
	#AlbumView .AlbumContainer { width: 100% }
	#AlbumView { max-width: 225px }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) { 
	body.mobile #AlbumView .AlbumContainer { max-width: 20% }

	#AlbumView { max-width: 1024px }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) { 
	body.mobile #AlbumView .AlbumContainer { max-width: 25% }

	#AlbumView { max-width: 1024px }
}

/** Full Cover view **/

.FullCover {
	width: 100% !important;
	display: inline-table;
}


.FullCoverTitleShift {
	width: 100% !important;
	display: inline-table;
}


/** List View **/

.AlbumArtwork.AlbumArtList {
	height: 57px !important;
	width: 57px !important;
	padding: 0px !important;
	border: 0px !important;
	margin:0px !important;
	display:inline !important;
	float:left !important;
}

.AlbumContainerLink.AlbumMarginReset {
	margin: 0 !important;
	width:100% !important;

}


.ArtistPaddingList {
	float: left !important;
	margin-left: 8px !important;
	padding-top: 5px !important;
	height: 51px !important;
	overflow:hidden; 
}


.AlbumContainer.ItemsList {
	width: 100% !important;
	min-width:100% !important;
	border-top: 1px solid #CCC;
}

#ArtistLinks {
	float: left !important;
}

.ArtistListClearMargin{
	margin: 0px !important;
}