<div id="login_container">
    <div id="loginBox">
        <form>
            <h2>Username:</h2>
            <input type="text" id="loginUsername" /><br/>
            <h2>Password:</h2>
            <input type="password" id="loginPassword" /><br/>
            <input id="loginButton" type="button" value="Login" />
        </form>
    </div>
</div>